@import url(https://maxlinworm.github.io/Fonts/sf-googlesans.css);
@import url(https://maxlinworm.github.io/Fonts/sf-arial.css);


/* SIDEBAR DE APPS */

/* html:not(.simplify) = sem simplify habilitado

/* Esconde sidebar */
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA,
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf {
    visibility: hidden;
    width: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    transition: all 0.2s ease-in-out;
}
/* Mostra sidebar */
/* Checa se o botão de menu tem hover, 
   retrocedendo até um ancestral em comum 
   (entre o o botão e o sidebar),
   e seleciona o sidebar */
html:not(.simplify) body>div>div.nH>div:has(* div.gb_Kd.gb_2c.gb_3c > div.gb_zc:first-child:hover) div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA,
html:not(.simplify) body>div>div.nH>div:has(* div.gb_Kd.gb_2c.gb_3c > div.gb_zc:first-child:hover) div.aeN.WR.a6o.anZ.nH.oy8Mbf,
/* Se o hover passar para o sidebar, mantém visível */
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA:hover,
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf:hover {
    visibility: visible;
    width: 68px !important;
    min-width: 68px !important;
    max-width: 68px !important;
    transition: all 0.1s ease-in-out;
}

/* SEARCH BAR*/

html:not(.simplify) .nH .qp .aJf[method="get"][role="search"] {
    margin-left: 0px;
    transition: all 0.1s ease-in-out;
}

/* Seletores iguais aos do sidebar */
html:not(.simplify) body>div>div.nH>div:has(* div.gb_Kd.gb_2c.gb_3c > div.gb_zc:first-child:hover) .nH .qp .aJf[method="get"][role="search"],
html:not(.simplify) body>div>div.nH>div:has(* div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA:hover) .nH .qp .aJf[method="get"][role="search"],
html:not(.simplify) body>div>div.nH>div:has(* div.aeN.WR.a6o.anZ.nH.oy8Mbf:hover) .nH .qp .aJf[method="get"][role="search"] {
    margin-left: 68px;
    transition: all 0.1s ease-in-out;
}

html:not(.simplify) .w-asV:not(:hover) {
    color: transparent;
    background-color: transparent;

}

/* Cor e border do search */
html:not(.simplify) form.aJf {
    background-color: white;
    border: 1px solid rgba(32, 33, 36, 0.122);
}

/* LISTA DE EMAILS */

/* Border do principal para match do search */
html:not(.simplify) .bkK>.nH {
    border: 1px solid rgba(32, 33, 36, 0.122);
}

/* Read */
html:not(.simplify) .yO {
    background-color: rgba(0, 0, 0, 0)
}

/* Unread */

html:not(.simplify) .zE {
    background-color: rgba(0, 0, 0, 0.02)
}
