/* === GMAIL COMUNS - Simplify e Vanilla === 
   -------------------------------------------- */

@import url(https://maxlinworm.github.io/Fonts/sf-googlesans.css);
@import url(https://maxlinworm.github.io/Fonts/sf-arial.css);
@import url(https://maxlinworm.github.io/Fonts/sf-segoe.css);

:root {
    --max-separador-inbox: rgb(212, 214, 217);
}

@media (prefers-color-scheme: dark) {
    :root {
        --max-separador-inbox: rgb(135, 136, 138)
    }
}

/* Separadores do Inbox 
.nH.Wg.aAr {
    border-bottom: solid 2px var(--max-separador-inbox);
    padding-bottom: 0;
}

html.simplify.bundleInbox .ae4 .Wr .qh {
    font-size: 1.2em;
}

/* Mais espaço para primeira mensagem após separador 
que não sejam a primeira de um bundle aberto (se não buga fundo 
que fica branco e não cinza na margem 
div:has(div.nH.Wg.aAr) + div.Cp.SOFC tr:not([data-bundle-open="true"]):first-of-type {
    margin-top: 10px;
}

/* MISC */

/* Dropdown de emails para forward em criação de filtros */
.J-M.J-M-ayU.ZD[role='listbox'] {
    width: 75% !important;
    max-width: 600px;
}

/* Itens do dropdown */
.J-M.J-M-ayU.ZD[role='listbox'] .J-N {
    padding-left: 18px;
    padding-right: 18px;
}

/* Dropdown de labels em criação de filtros */
.J-M.J-M-ayU.aeE[role='listbox'] {
    width: 75% !important;
    max-width: 600px;
}

.J-M.J-M-ayU.aeE .J-N {
    padding-left: 18px;
    padding-right: 18px;
}

/* Dropdown de Labels em lista de emails */
.J-M.agd.aYO.jQjAxd.aX1[role="menu"] {
    width: 600px !important;
    max-width: 600px !important;
}

/* Retira background quando split pane */
html.simplify.vPane.defaultTheme .Nu.S3 {
    background-color: white;
}

html.simplify.vPane:not(.inMsg).defaultTheme .Nt,
html.simplify.defaultTheme.vPane #gb {
    background-color: white !important;
}

/* === GMAIL VANILLA === 
   --------------------- /*

/* SIDEBAR DE APPS */

/* html:not(.simplify) = sem simplify habilitado

/* Esconde sidebar */
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA,
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf {
    visibility: hidden;
    width: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
    transition: all 0.2s ease-in-out;
}
/* Mostra sidebar */
/* Checa se o botão de menu tem hover, 
   retrocedendo até um ancestral em comum 
   (entre o o botão e o sidebar),
   e seleciona o sidebar */
html:not(.simplify) body>div>div.nH>div:has(* div.gb_Kd.gb_2c.gb_3c > div.gb_zc:first-child:hover) div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA,
html:not(.simplify) body>div>div.nH>div:has(* div.gb_Kd.gb_2c.gb_3c > div.gb_zc:first-child:hover) div.aeN.WR.a6o.anZ.nH.oy8Mbf,
/* Se o hover passar para o sidebar, mantém visível */
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA:hover,
html:not(.simplify) div.aeN.WR.a6o.anZ.nH.oy8Mbf:hover {
    visibility: visible;
    width: 68px !important;
    min-width: 68px !important;
    max-width: 68px !important;
    transition: all 0.1s ease-in-out;
}

/* SEARCH BAR*/

html:not(.simplify) .nH .qp .aJf[method="get"][role="search"] {
    margin-left: 0px;
    transition: all 0.1s ease-in-out;
}

/* Seletores iguais aos do sidebar */
html:not(.simplify) body>div>div.nH>div:has(* div.gb_Kd.gb_2c.gb_3c > div.gb_zc:first-child:hover) .nH .qp .aJf[method="get"][role="search"],
html:not(.simplify) body>div>div.nH>div:has(* div.aeN.WR.a6o.anZ.nH.oy8Mbf.aBA:hover) .nH .qp .aJf[method="get"][role="search"],
html:not(.simplify) body>div>div.nH>div:has(* div.aeN.WR.a6o.anZ.nH.oy8Mbf:hover) .nH .qp .aJf[method="get"][role="search"] {
    margin-left: 68px;
    transition: all 0.1s ease-in-out;
}

html:not(.simplify) .w-asV:not(:hover) {
    color: transparent;
    background-color: transparent;

}

/* Cor e border do search */
html:not(.simplify) form.aJf {
    background-color: white;
    border: 1px solid rgba(32, 33, 36, 0.122);
}

/* LISTA DE EMAILS */

/* Border do principal para match do search */
html:not(.simplify) .bkK>.nH {
    border: 1px solid rgba(32, 33, 36, 0.122);
}

/* Read */
html:not(.simplify) .yO {
    background-color: rgba(0, 0, 0, 0)
}

/* Unread */

html:not(.simplify) .zE {
    background-color: rgba(0, 0, 0, 0.02)
}

/* === GMAIL SIMPLIFY ===
   ---------------------- */

:root {
    --max-cloudHQ-tabs-reducao_altura: 10px;
}

/* Expande Título de Bundles Abertas */
.zA.bundle[data-bundle-open='true']>.yX {
    max-width: 500px;
    padding-right: 6px;
}

/* Retira margem que aumenta quando abre bundle 
Desativei porque removi o espaçamento maior 
html.simplify.bundleInbox .BltHke .ae4 tbody.bundled tr[data-bundle-open="true"][id^="bundle-"] {
margin-top: 0px;
}

/* REMOVE ÍCONE CLOUD HQ */
.inboxsdk__appButton {
    display: none;
}

/* CLOUD HQ TABS */

/* Transparent Tabs (para usar temas com fotos) */
.cloudHQ__label_tab {
    background-color: transparent !important;
}

/* Cores e selecionada */

html.imgTheme.mediumTheme #cloudHQ__label_tabs_wrapper .cloudHQ__label_tab.active>.chq-tab {
    color: rgb(255, 255, 255) !important;
}

html.imgTheme.mediumTheme #cloudHQ__label_tabs_wrapper .cloudHQ__label_tab.active {
    box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 1) !important;
}

html.imgTheme.mediumTheme #cloudHQ__label_tabs_wrapper .cloudHQ__label_tab>.chq-tab {
    color: rgba(255, 255, 255, 0.9) !important;
}