/* === VARIÁVEIS === */

:root {

    /* COMUNS */
    --font-family-default: 'SF Pro Text', 'Roboto', 'Arial' !important;

    /* WHITEBOARD */
    --max-card-whiteboard-fs: 22px; /*18px orig; 24px 90% no desktop*/

    /* Headings */
    /* H1 */
    --max-card-whiteboard-h1-fs_num: 1.35; /* 1.875 */
    --max-card-whiteboard-h1-fs: calc(var(--max-card-whiteboard-h1-fs_num) * 1em);
    /*1.875em*/
    --max-card-whiteboard-h1-fw: 700 /* 600 */;
    --max-card-whiteboard-h1-lh: 1.3;
    --max-card-whiteboard-h1-mt: .85em; /*1.1em*/
    --max-card-whiteboard-h1-mb: .25em;
    --max-card-whiteboard-h1-pd: 3px 2px;
    --max-card-whiteboard-h1-fv: normal;
    
    /* H2 */
    --max-card-whiteboard-h2-fs: 1.2em; /*1.5em*/
    --max-card-whiteboard-h2-fw: 700 /* 600 */;
    --max-card-whiteboard-h2-lh: 1.3;
    --max-card-whiteboard-h2-mt: .65em;  /* 1em */
    --max-card-whiteboard-h2-mb: .25em;
    --max-card-whiteboard-h2-pd: 3px 2px;
    --max-card-whiteboard-h2-fv: normal;

    /* H3 */
    --max-card-whiteboard-h3-fs: 1.125em; /*1.17em*/
    --max-card-whiteboard-h3-fw: 500 /* 600 */;
    --max-card-whiteboard-h3-lh: 1.3;
    --max-card-whiteboard-h3-mt: .5em; /*.9em */
    --max-card-whiteboard-h3-mb: .25em;
    --max-card-whiteboard-h3-pd: 3px 2px;
    --max-card-whiteboard-h3-fv: normal;

    /* H4 */
    --max-card-whiteboard-h4-fs: 1.1em; /*18px (=1em)*/
    --max-card-whiteboard-h4-fw: 500 /* 600 */;
    --max-card-whiteboard-h4-lh: 1.3;
    --max-card-whiteboard-h4-mt: var(--max-card-whiteboard-h3-mt);/* 1.33em User style */
    --max-card-whiteboard-h4-mb: var(--max-card-whiteboard-h3-mb);/* 1.33em User style */
    --max-card-whiteboard-h4-pd: 0px 0px; /* sem estilo */
    --max-card-whiteboard-h4-fv: small-caps;

    /* H5 */
    --max-card-whiteboard-h5-fs: 1.1em; /*18px (=1em)*/
    --max-card-whiteboard-h5-fw: 400; /* 600 */
    --max-card-whiteboard-h5-lh: 1.3;
    --max-card-whiteboard-h5-mt: var(--max-card-whiteboard-h3-mt);/* 1.33em User style */
    --max-card-whiteboard-h5-mb: var(--max-card-whiteboard-h3-mb);/* 1.33em User style */
    --max-card-whiteboard-h5-pd: 0px 0px; /* sem estilo */
    --max-card-whiteboard-h5-fv: small-caps;

    /* H6 */
    --max-card-whiteboard-h6-fs: 1.1em; /*18px (=1em)*/
    --max-card-whiteboard-h6-fw: 400; /* 600 */
    --max-card-whiteboard-h6-lh: 1.3;
    --max-card-whiteboard-h6-mt: var(--max-card-whiteboard-h3-mt);/* 1.33em User style */
    --max-card-whiteboard-h6-mb: var(--max-card-whiteboard-h3-mb);/* 1.33em User style */
    --max-card-whiteboard-h6-pd: 0px 0px; /* sem estilo */
    --max-card-whiteboard-h6-fv: normal;
    --max-card-whiteboard-h6-fst: italic;

    /* Parágrafos */
    --max-card-whiteboard-p-lh: 1.35; /* 1.5*/
    --max-card-whiteboard-p-mt: 3px;/* 4px */
    --max-card-whiteboard-p-mb: 2px;/* 4px */
    --max-card-whiteboard-p-pd: 2px 3px; /* 2px 3px */

    /* Listas */
    --max-card-whiteboard-ul-lh: var(--max-card-whiteboard-p-lh); /* 1.5 */
    --max-card-whiteboard-ol-lh: var(--max-card-whiteboard-p-lh); /* 1.5 */

    /* Text object */
    --max-textobject-fs: var(--max-card-whiteboard-h1-fs);

    /* OPEN CARDS | SIDEBAR */

    --max-card-open-fs: 16px; /*17px orig e 90%*/

    /* HEADINGS */
    /* H1 */
    --max-card-open-h1-fs: 1.5em; /* 1.875em */
    --max-card-open-h1-fw: var(--max-card-whiteboard-h1-fw) /* 600 */;
    --max-card-open-h1-lh: var(--max-card-whiteboard-h1-lh); /* 1.3 */
    --max-card-open-h1-mt: 1.1em; /* 1.1em */
    --max-card-open-h1-mb: .25em;
    --max-card-open-h1-pd: 3px 2px;
    --max-card-open-h1-fv: normal;
    
    /* H2 */
    --max-card-open-h2-fs: 1.35em; /* 1.5em */
    --max-card-open-h2-fw: var(--max-card-whiteboard-h2-fw) /* 600 */;
    --max-card-open-h2-lh: var(--max-card-whiteboard-h2-lh); /* 1.3 */
    --max-card-open-h2-mt: 1em; /*1em*/ 
    --max-card-open-h2-mb: .25em;
    --max-card-open-h2-pd: 3px 2px;
    --max-card-open-h2-fv: normal;

    /* H3 */
    --max-card-open-h3-fs: 1.3em; /* 1.17em */
    --max-card-open-h3-fw: var(--max-card-whiteboard-h3-fw) /* 600 */;
    --max-card-open-h3-lh: var(--max-card-whiteboard-h3-lh);
    --max-card-open-h3-mt: .85em; /* .9em */
    --max-card-open-h3-mb: .25em;
    --max-card-open-h3-pd: 3px 2px;
    --max-card-open-h3-fv: normal;

    /* H4 */
    --max-card-open-h4-fs: 1.15em; /*18px (=1em)*/
    --max-card-open-h4-fw: var(--max-card-whiteboard-h4-fw); /* 600 */;
    --max-card-open-h4-lh: var(--max-card-whiteboard-h4-lh); /* 1.3 */
    --max-card-open-h4-mt: var(--max-card-open-h3-mt);/* 1.33em User style */
    --max-card-open-h4-mb: var(--max-card-open-h3-mb);/* 1.33em User style */
    --max-card-open-h4-pd: 0px 0px; /* sem estilo */
    --max-card-open-h4-fv: small-caps;

    /* H5 */
    --max-card-open-h5-fs: 1.1em; /*18px (=1em)*/
    --max-card-open-h5-fw: var(--max-card-whiteboard-h5-fw); /* 600 */
    --max-card-open-h5-lh: var(--max-card-whiteboard-h5-lh); /* 1.3 */
    --max-card-open-h5-mt: var(--max-card-open-h3-mt);/* 1.33em User style */
    --max-card-open-h5-mb: var(--max-card-open-h3-mb);/* 1.33em User style */
    --max-card-open-h5-pd: 0px 0px; /* sem estilo */
    --max-card-open-h5-fv: small-caps;

    /* H6 */
    --max-card-open-h6-fs: 1.15em; /*18px (=1em)*/
    --max-card-open-h6-fw: var(--max-card-whiteboard-h6-fw); /* 600 */
    --max-card-open-h6-lh: var(--max-card-whiteboard-h6-lh);
    --max-card-open-h6-mt: var(--max-card-open-h3-mt);/* 1.33em User style */
    --max-card-open-h6-mb: var(--max-card-open-h3-mb);/* 1.33em User style */
    --max-card-open-h6-pd: 0px 0px; /* sem estilo */
    --max-card-open-h6-fv: normal;
    --max-card-open-h6-fst: italic;

    /* Parágrafos */
    --max-card-open-p-lh: 1.35; /* 1.5*/
    --max-card-open-p-mt: 3px;/* 4px */
    --max-card-open-p-mb: 2px;/* 4px */
    --max-card-open-p-pd: 2px 3px; /* 2px 3px */

    /* Listas */
    --max-card-open-ul-lh: var(--max-card-open-p-lh); /* 1.5 */
    --max-card-open-ol-lh: var(--max-card-open-p-lh); /* 1.5 */
}


.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style :is(h1, h2, h3, h4, h5, h6)+ :is(h1, h2, h3, h4, h5, h6) {
    --max-card-whiteboard-h1-mb: var(--max-card-whiteboard-p-mb);
    --max-card-whiteboard-h1-pd: var(--max-card-whiteboard-p-pd);
    --max-card-whiteboard-h1-mt: var(--max-card-whiteboard-p-mt);

    --max-card-whiteboard-h2-mb: var(--max-card-whiteboard-h1-mb);
    --max-card-whiteboard-h2-pd: var(--max-card-whiteboard-h1-pd);
    --max-card-whiteboard-h2-mt: var(--max-card-whiteboard-h1-mt);

    --max-card-whiteboard-h3-mb: var(--max-card-whiteboard-h1-mb);
    --max-card-whiteboard-h3-pd: var(--max-card-whiteboard-h1-pd);
    --max-card-whiteboard-h3-mt: var(--max-card-whiteboard-h1-mt);

    --max-card-whiteboard-h4-mb: var(--max-card-whiteboard-h1-mb);
    --max-card-whiteboard-h4-pd: var(--max-card-whiteboard-h1-pd);
    --max-card-whiteboard-h4-mt: var(--max-card-whiteboard-h1-mt);
    
    --max-card-whiteboard-h5-mb: var(--max-card-whiteboard-h1-mb);
    --max-card-whiteboard-h5-pd: var(--max-card-whiteboard-h1-pd);
    --max-card-whiteboard-h5-mt: var(--max-card-whiteboard-h1-mt);

    --max-card-whiteboard-h6-mb: var(--max-card-whiteboard-h1-mb);
    --max-card-whiteboard-h6-pd: var(--max-card-whiteboard-h1-pd);
    --max-card-whiteboard-h6-mt: var(--max-card-whiteboard-h1-mt);

}

.ProseMirror.ProseMirror-hepta-style :is(h1, h2, h3, h4, h5, h6)+ :is(h1, h2, h3, h4, h5, h6) {
    --max-card-open-h1-mb: var(--max-card-open-p-mb);
    --max-card-open-h1-pd: var(--max-card-open-p-pd);
    --max-card-open-h1-mt: var(--max-card-open-p-mt);

    --max-card-open-h2-mb: var(--max-card-open-h1-mb);
    --max-card-open-h2-pd: var(--max-card-open-h1-pd);
    --max-card-open-h2-mt: var(--max-card-open-h1-mt);

    --max-card-open-h3-mb: var(--max-card-open-h1-mb);
    --max-card-open-h3-pd: var(--max-card-open-h1-pd);
    --max-card-open-h3-mt: var(--max-card-open-h1-mt);

    --max-card-open-h4-mb: var(--max-card-open-h1-mb);
    --max-card-open-h4-pd: var(--max-card-open-h1-pd);
    --max-card-open-h4-mt: var(--max-card-open-h1-mt);

    --max-card-open-h5-mb: var(--max-card-open-h1-mb);
    --max-card-open-h5-pd: var(--max-card-open-h1-pd);
    --max-card-open-h5-mt: var(--max-card-open-h1-mt);

    --max-card-open-h6-mb: var(--max-card-open-h1-mb);
    --max-card-open-h6-pd: var(--max-card-open-h1-pd);
    --max-card-open-h6-mt: var(--max-card-open-h1-mt);

}

/* === REGRAS === */

/* COMUNS */

/* Sem wrap estranho no auto-suggest de links */
.SuggestionMenu_container__3jfSh .break-all.text-label {
    word-break: normal
}

/* Links internos em highlights */
.ProseMirror a[data-internal-href] mark {
    color: var(--active-item);
}

/* Headings */

/* Títulos auto-numerados */
:not(.Journal_full__1c520) > .ProseMirror.ProseMirror-hepta-style h1:first-child,
.Journal_full__1c520 {
    counter-reset: level1Header;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h1:not(:first-child),
.ProseMirror.ProseMirror-hepta-style h1 {
    counter-reset: level2Header;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h2:not(:first-child),
.ProseMirror.ProseMirror-hepta-style h2 {
    counter-reset: level3Header;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h3:not(:first-child),
.ProseMirror.ProseMirror-hepta-style h3 {
    counter-reset: level4Header;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h4:not(:first-child),
.ProseMirror.ProseMirror-hepta-style h4 {
    counter-reset: level5Header;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h5:not(:first-child),
.ProseMirror.ProseMirror-hepta-style h5 {
    counter-reset: level6Header;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h6:not(:first-child),
.ProseMirror.ProseMirror-hepta-style h6 {
    counter-reset: none;
}




:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h1:not(:first-child):before,
.Journal_full__1c520 .ProseMirror.ProseMirror-hepta-style h1:before  {
    counter-increment: level1Header;
    content: counter(level1Header) ".\00a0";
    font-size: .85em;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h2:not(:first-child):before,
.Journal_full__1c520 .ProseMirror.ProseMirror-hepta-style h2:before  {
    counter-increment: level2Header;
    content: counter(level1Header) "."counter(level2Header) ".\00a0";
    font-size: .85em;
}

:not(.Journal_full__1c520)>.ProseMirror.ProseMirror-hepta-style h3:not(:first-child):before,
.Journal_full__1c520 .ProseMirror.ProseMirror-hepta-style h3:before  {
    counter-increment: level3Header;
    content: counter(level1Header) "."counter(level2Header) "."counter(level3Header) ".\00a0";
    font-size: .85em;
}

:not(.Journal_full__1c520) > .ProseMirror.ProseMirror-hepta-style h4:not(:first-child):before,
.Journal_full__1c520 .ProseMirror.ProseMirror-hepta-style h4:before  {
    counter-increment: level4Header;
    content: counter(level1Header) "."counter(level2Header) "."counter(level3Header) "."counter(level4Header) ".\00a0";
    font-size: .85em;
}

:not(.Journal_full__1c520) > .ProseMirror.ProseMirror-hepta-style h5:not(:first-child):before,
.Journal_full__1c520 .ProseMirror.ProseMirror-hepta-style h5:before  {
    counter-increment: level5Header;
    content: counter(level1Header) "."counter(level2Header) "."counter(level3Header) "."counter(level4Header) "."counter(level5Header) ".\00a0";
    font-size: .85em;
}

:not(.Journal_full__1c520) > .ProseMirror.ProseMirror-hepta-style h6:not(:first-child):before,
.Journal_full__1c520 .ProseMirror.ProseMirror-hepta-style h6:before  {
    counter-increment: level6Header;
    content: counter(level1Header) "."counter(level2Header) "."counter(level3Header) "."counter(level4Header) "."counter(level5Header) "."counter(level6Header) ".\00a0";
    font-size: .85em;
}


/* WHITE BOARD */

/* Cards no whiteboard */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style {
    font-size: var(--max-card-whiteboard-fs);
}

/* Título de cards folded */
.mx-auto.truncate.px-2.text-body {
    font-size: calc(var(--max-card-whiteboard-h1-fs_num) * var(--max-card-whiteboard-fs));
    line-height: var(--max-card-whiteboard-h1-lh);
}

/* Toolbar transparente */

#root .absolute.top-0.bg-whiteboard-background.p-2 {
    background-color: transparent
}

/* Ícones com fundo */
#root>div>div:nth-child(2)>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.flex.min-w-0.flex-grow.items-center.gap-x-2>div.flex.items-center.gap-x-2>div>div:nth-child(1)>svg,
#root>div>div:nth-child(2)>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.flex.min-w-0.flex-grow.items-center.gap-x-2>div.flex.items-center.gap-x-2>div>div:nth-child(2)>svg,
#root>div>div:nth-child(2)>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.flex.min-w-0.flex-grow.items-center.gap-x-2>div.ml-1.min-w-0.flex.select-none.items-center.text-label.font-medium.text-middle-hard-grey>input,
#root>div>div>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.flex.min-w-0.flex-grow.items-center.gap-x-2>div.flex.items-center.gap-x-2,
#root>div>div>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.ml-auto.flex.items-center.gap-x-2,
#root>div>div:nth-child(2)>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.ml-auto.flex.items-center.gap-x-2,
#root>div>div>div.absolute.top-0.z-10.box-border.flex.items-center.gap-x-4.bg-whiteboard-background.p-2>div.flex.min-w-0.flex-grow.items-center.gap-x-2>div.ml-1.min-w-0.flex.select-none.items-center.text-label.font-medium.text-middle-hard-grey {
    /* --whiteboard-background #eeeded rgb(238 237 237) */
    background-color: rgb(238 237 237 / 95%);
    border-radius: 8px;
    color: black;
}

/* H1*/
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h1 {
    font-size: var(--max-card-whiteboard-h1-fs); ;
    font-weight: var(--max-card-whiteboard-h1-fw);
    line-height: var(--max-card-whiteboard-h1-lh);
    margin-bottom: var(--max-card-whiteboard-h1-mb);
    padding: var(--max-card-whiteboard-h1-pd);
    font-variant: var(--max-card-whiteboard-h1-fv);
}

/* Para não interferir no espaçamento do título */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h1:not(:first-child) {
    margin-top: var(--max-card-whiteboard-h1-mt);
}

/* H2 */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h2 {
    font-size: var(--max-card-whiteboard-h2-fs); ;
    font-weight: var(--max-card-whiteboard-h2-fw);
    line-height: var(--max-card-whiteboard-h2-lh);
    margin-bottom: var(--max-card-whiteboard-h2-mb);
    padding: var(--max-card-whiteboard-h2-pd);
    font-variant: var(--max-card-whiteboard-h2-fv);
}

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h2:not(:first-child) {
    margin-top: var(--max-card-whiteboard-h2-mt);
}

/* H3 */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h3 {
    font-size: var(--max-card-whiteboard-h3-fs);
    font-weight: var(--max-card-whiteboard-h3-fw);
    line-height: var(--max-card-whiteboard-h3-lh);
    margin-bottom: var(--max-card-whiteboard-h3-mb);
    padding: var(--max-card-whiteboard-h3-pd);
    font-variant: var(--max-card-whiteboard-h3-fv);
}

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h3:not(:first-child) {
    margin-top: var(--max-card-whiteboard-h3-mt);
}

/* H4 */

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h4{
    font-size: var(--max-card-whiteboard-h4-fs);
    font-weight: var(--max-card-whiteboard-h4-fw);
    line-height: var(--max-card-whiteboard-h4-lh);
    margin-bottom: var(--max-card-whiteboard-h4-mb);
    padding: var(--max-card-whiteboard-h4-pd);
    font-variant: var(--max-card-whiteboard-h4-fv);
}

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h4:not(:first-child){
    margin-top: var(--max-card-whiteboard-h4-mt);
}

/* H5 */

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h5 {
    font-size: var(--max-card-whiteboard-h5-fs);
    font-weight: var(--max-card-whiteboard-h5-fw);
    line-height: var(--max-card-whiteboard-h5-lh);
    margin-bottom: var(--max-card-whiteboard-h5-mb);
    padding: var(--max-card-whiteboard-h5-pd);
    font-variant: var(--max-card-whiteboard-h5-fv);
}

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h5:not(:first-child) {
    margin-top: var(--max-card-whiteboard-h5-mt);
}

/* H6 */

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h6 {
    font-size: var(--max-card-whiteboard-h6-fs);
    font-weight: var(--max-card-whiteboard-h6-fw);
    line-height: var(--max-card-whiteboard-h6-lh);
    margin-bottom: var(--max-card-whiteboard-h6-mb);
    padding: var(--max-card-whiteboard-h6-pd);
    font-variant: var(--max-card-whiteboard-h6-fv);
    font-style: var(--max-card-whiteboard-h6-fst);
}

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style h6:not(:first-child) {
    margin-top: var(--max-card-whiteboard-h6-mt);
}

/* Parágrafo */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style p {
     line-height: var(--max-card-whiteboard-p-lh);
     margin-bottom: var(--max-card-whiteboard-p-mb);
     padding: var(--max-card-whiteboard-p-pd);
}

.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style p:not(:first-child) {
    margin-top: var(--max-card-whiteboard-p-mt);
}

/* Listas */

/* Bullet List */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style ul {
    line-height: var(--max-card-whiteboard-ul-lh);
}

/* Tamanho do Bullet */
.ProseMirror.ProseMirror-hepta-style ul .List_bullet__1SwAH {
    width: 7px !important; /* 6px */
    height: 7px !important; /* 6px */
}

/* Alinhamento do Bullet */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style ul .List_bullet__1SwAH {
    margin-top: 9px !important; /* 7px */
}

/* Lista numerada */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style ol {
    line-height: var(--max-card-whiteboard-ol-lh);
}

/* Alinhamento do Marker (número) */
.CardInstance_wrapper__3dlnz .ProseMirror.ProseMirror-hepta-style ol .mr-2.ordered-item {
    /* Orig 31px do marker e 27px o do conteúdo, ou seja, != de 4px */
    line-height: calc((var(--max-card-whiteboard-ol-lh) * var(--max-card-whiteboard-fs)) + 5px) !important; 
}

/* Text Objects */

div[data-is-folded="true"] div.truncate.text-body.font-semibold.text-primary.px-2 {
    font-size: var(--max-textobject-fs);
}



/* CARDS ABERTOS E SIDEBAR */

/* Cards no sidebar e fullscreen */
.ProseMirror.ProseMirror-hepta-style {
    font-size: var(--max-card-open-fs)
}

/* H1*/
.ProseMirror.ProseMirror-hepta-style h1 {
    font-size: var(--max-card-open-h1-fs);
    font-weight: var(--max-card-open-h1-fw);
    line-height: var(--max-card-open-h1-lh);
    margin-bottom: var(--max-card-open-h1-mb);
    padding: var(--max-card-open-h1-pd);
    font-variant: var(--max-card-open-h1-fv);
}

/* Para não interferir no espaçamento do título */
.ProseMirror.ProseMirror-hepta-style h1:not(:first-child) {
    margin-top: var(--max-card-open-h1-mt);
}

/* H2 */
.ProseMirror.ProseMirror-hepta-style h2 {
    font-size: var(--max-card-open-h2-fs);
    font-weight: var(--max-card-open-h2-fw);
    line-height: var(--max-card-open-h2-lh);
    margin-bottom: var(--max-card-open-h2-mb);
    padding: var(--max-card-open-h2-pd);
    font-variant: var(--max-card-open-h2-fv);
}

.ProseMirror.ProseMirror-hepta-style h2:not(:first-child) {
    margin-top: var(--max-card-open-h2-mt);
}

/* H3 */
.ProseMirror.ProseMirror-hepta-style h3 {
    font-size: var(--max-card-open-h3-fs);
    font-weight: var(--max-card-open-h3-fw);
    line-height: var(--max-card-open-h3-lh);
    margin-bottom: var(--max-card-open-h3-mb);
    padding: var(--max-card-open-h3-pd);
    font-variant: var(--max-card-open-h3-fv);
}

.ProseMirror.ProseMirror-hepta-style h3:not(:first-child) {
    margin-top: var(--max-card-open-h3-mt);
}

/* H4 */

.ProseMirror.ProseMirror-hepta-style h4 {
    font-size: var(--max-card-open-h4-fs);
    font-weight: var(--max-card-open-h4-fw);
    line-height: var(--max-card-open-h4-lh);
    margin-bottom: var(--max-card-open-h4-mb);
    padding: var(--max-card-open-h4-pd);
    font-variant: var(--max-card-open-h4-fv);
}

.ProseMirror.ProseMirror-hepta-style h4:not(:first-child) {
    margin-top: var(--max-card-open-h4-mt);
}

/* H5 */

.ProseMirror.ProseMirror-hepta-style h5 {
    font-size: var(--max-card-open-h5-fs);
    font-weight: var(--max-card-open-h5-fw);
    line-height: var(--max-card-open-h5-lh);
    margin-bottom: var(--max-card-open-h5-mb);
    padding: var(--max-card-open-h5-pd);
    font-variant: var(--max-card-open-h5-fv);
}

.ProseMirror.ProseMirror-hepta-style h5:not(:first-child) {
    margin-top: var(--max-card-open-h5-mt);
}

/* H6 */

.ProseMirror.ProseMirror-hepta-style h6 {
    font-size: var(--max-card-open-h6-fs);
    font-weight: var(--max-card-open-h6-fw);
    line-height: var(--max-card-open-h6-lh);
    margin-bottom: var(--max-card-open-h6-mb);
    padding: var(--max-card-open-h6-pd);
    font-variant: var(--max-card-open-h6-fv);
    font-style: var(--max-card-open-h6-fst);
}

.ProseMirror.ProseMirror-hepta-style h6:not(:first-child) {
    margin-top: var(--max-card-open-h6-mt);
}

/* Parágrafo */
.ProseMirror.ProseMirror-hepta-style p {
    line-height: var(--max-card-open-p-lh);
    margin-bottom: var(--max-card-open-p-mb);
    padding: var(--max-card-open-p-pd);
}

.ProseMirror.ProseMirror-hepta-style p:not(:first-child) {
    margin-top: var(--max-card-open-p-mt);
}


/* Listas */

/* Bullet List */
.ProseMirror.ProseMirror-hepta-style ul {
    line-height: var(--max-card-open-ul-lh);
}

/* Tamanho do Bullet */
.ProseMirror.ProseMirror-hepta-style ul .List_bullet__1SwAH {
    width: 5px !important; /* 6px */
    height: 5px !important; /* 6px */
}

/* Lista numerada */
.ProseMirror.ProseMirror-hepta-style ol {
    line-height: var(--max-card-open-ol-lh);
}

/* Alinhamento do Marker (número) */
.ProseMirror.ProseMirror-hepta-style ol .mr-2.ordered-item {
    /* Orig 31px do marker e 27px o do conteúdo, ou seja, != de 4px */
    line-height: calc((var(--max-card-open-ol-lh) * var(--max-card-open-fs)) + 5px) !important;
}