/* == Ideal Sans == */

/* Light */

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-Light-Pro.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
font-family: 'IdealSansMax';
src: url('https://maxlinworm.github.io/IdealSans-LightItalic-Pro.otf') format('opentype');
font-weight: 300;
font-style: italic;
}


/* Usar Book como Regular */

@font-face {
    font-family: 'IdealSansMax';
    src: url('https://maxlinworm.github.io/IdealSans-Book-Pro.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-BookItalic-Pro.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-Medium-Pro.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
font-family: 'IdealSansMax';
src: url('https://maxlinworm.github.io/IdealSans-MediumItalic-Pro.otf') format('opentype');
font-weight: 500;
font-style: italic;
}

/* Semi-Bold */

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-Semibold-Pro.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-SemiboldItalic-Pro.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-Bold-Pro.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IdealSansMax';
  src: url('https://maxlinworm.github.io/IdealSans-BoldItalic-Pro.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
