@import url(https://maxlinworm.github.io/max-base.css);
@import url(https://maxlinworm.github.io/justread-retirar.css);

@media (prefers-color-scheme:light) {
  :root {
    --container-artigo-padding-left: 125px;
    --container-artigo-padding-right: 125px;
    --container-geral-max-width: calc(30.81em 
        + var(--container-artigo-padding-left)
        + var(--container-artigo-padding-right)
    );

    --max_color_pag_background: rgb(245, 244, 240);
    --container-artigo-border-radius: 10px;
    --container-artigo-box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
        0 12.5px 10px rgba(0, 0, 0, 0.06), 
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
        0 100px 80px rgba(0, 0, 0, 0.12);
    
    --max_body_c: rgb(55, 53, 42);
    --max_color_pag_foreground: rgb(237, 235, 228);

    --a-border-color: rgba(255, 91, 61, .5);
    --a-hover-color: rgb(166, 50, 30);
    --a-hover-border-color: rgba(166, 50, 30, .75)
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --container-artigo-padding-left: 0px;
    --container-artigo-padding-right: 0px;
    --container-geral-max-width: 570px;

    --max_color_pag_background: rgb(17, 17, 17);
    --container-artigo-border-radius: none;
    --container-artigo-box-shadow: none;

    --max_body_c: rgb(187, 187, 187);
    --max_color_pag_foreground: var(--max_color_pag_background);

    /* usado para definir: m_c_p => m_m_l_c => */
    --max_color_primary: rgb(235, 235, 235);

    --a-border-color: rgb(136, 136, 136);
    --a-hover-color: rgb(255, 255, 255);
    --a-hover-border-color: rgb(156, 156, 156);
    filter: brightness(.8) contrast(1.2)
  }
}

@media screen {
  * {
    box-sizing: border-box
  }
}

/* BACKGROUND */

body {
    background-color: var(--max_color_pag_background);
    font-family:      var(--max_body_ff_serif);
    line-height:      var(--max_body_lh);
    font-size:        var(--max_body_fs);
    color:            var(--max_body_c);
}

/* OUTROS */

.simple-container {
    max-width: var(--container-geral-max-width);
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px
}

@media (max-width:750px) {
  .simple-container {
    padding-left: 50px;
    padding-right: 50px
  }
}

@media (max-width:450px) {
    .simple-container {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px
    }
}

/* FOREGROUND */

.simple-article-container {
    display: block;
    padding-left:     var(--container-artigo-padding-left);
    padding-right:    var(--container-artigo-padding-right);
    background-color: var(--max_color_pag_foreground);
    border-radius:    var(--max_cont_pag_foreground_brad);
    box-shadow:       var(--max_cont_pag_foreground_elevation);
}

/* Outros */

.simple-date {
    display: inline-block;
    font-family: "Source Sans Pro Light", sans-serif;
    font-size: 18px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #d8d8d8
}

.rtl .simple-date {
    border-left: 1px solid #d8d8d8;
    border-right: none;
    padding-right: 0;
    padding-left: 15px
}

.simple-author {
    display: inline-block;
    font-family: "Source Sans Pro Semibold", sans-serif;
    font-size: 18px;
    color: #27aae1;
    line-height: 22px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px
}

.rtl .simple-author {
    padding-left: 0;
    padding-right: 10px
}

/* CORPO DE TEXTO */

p {
    margin-block-start: var(--max_body_p-espaco_mbs);
    margin-block-end:   var(--max_body_p-espaco_mbe);
}

/* Parágrafos com indentação
 * ignora parágrafos centralizados
 * que são na verdadee títulos */
p:not([align=center])+p {
    margin-block-start: var(--max_body_p-indent_mbs);
    text-indent: var(--max_body_p-indent_ti);
}

p:not([align=center])+p[align=center],
p:not([style='text-align:center'])
        + p[style='text-align:center'] {
    font-size: var(--max_h2_fs) !important;
    line-height: var(--max_h2_lh) !important;
    margin-block-start: var(--max_h2_mbs) !important;
    margin-block-end: var(--max_h2_mbe) !important;
    text-align: left !important;
    text-indent: 0 !important;
}

/* BLOCKQUOTES */

blockquote {
    margin-block-start: var(--max_q_mbs);
    margin-block-end:   var(--max_q_mbe);
    
    /* Retira espaçamento lateral */
    margin-inline-start: 0;
    margin-inline-end: 0;

    border-left:        var(--max_q_bl);
    padding-left:       var(--max_q_pl);
}

blockquote p {
    font-size:   var(--max_body_fs);
    line-height: var(--max_body_lh);
}

/* HEADINGS */

h1.simple-title {
    font-family:        var(--max_ht_ff);
    font-size:          var(--max_ht_fs);
    font-weight:        var(--max_ht_fw);
    line-height:        var(--max_ht_lh);
    letter-spacing:     var(--max_ht_ls);
  
    margin-block-start: var(--max_ht_mbs);
    margin-block-end:   var(--max_ht_mbe);
  
    font-variant:       var(--max_ht_fv);
}

h1 {
    font-family:        var(--max_h1_ff);
    font-size:          var(--max_h1_fs);
    font-weight:        var(--max_h1_fw);
    line-height:        var(--max_h1_lh);
    letter-spacing:     var(--max_h1_ls);

    margin-block-start: var(--max_h1_mbs);
    margin-block-end:   var(--max_h1_mbe);

    font-variant:       var(--max_h1_fv);
    }

h2 {
    font-family:        var(--max_h2_ff);
    font-size:          var(--max_h2_fs);
    font-weight:        var(--max_h2_fw);
    line-height:        var(--max_h2_lh);
    letter-spacing:     var(--max_h2_ls);

    margin-block-start: var(--max_h2_mbs);
    margin-block-end:   var(--max_h2_mbe);

    font-variant:       var(--max_h2_fv);
}

h3 {
    font-family:        var(--max_h3_ff);
    font-size:          var(--max_h3_fs);
    font-weight:        var(--max_h3_fw);
    line-height:        var(--max_h3_lh);
    letter-spacing:     var(--max_h3_ls);

    margin-block-start: var(--max_h3_mbs);
    margin-block-end:   var(--max_h3_mbe);

    font-variant:       var(--max_h3_fv);

    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    border-top: none;
}

h4 {
    font-family:        var(--max_h4_ff);
    font-size:          var(--max_h4_fs);
    font-weight:        var(--max_h4_fw);
    line-height:        var(--max_h4_lh);
    letter-spacing:     var(--max_h4_ls);

    margin-block-start: var(--max_h4_mbs);
    margin-block-end:   var(--max_h4_mbe);

    font-variant:       var(--max_h4_fv);

    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    border-top: none;
}

/* HORIZONTAL RULE */

hr {
    font-size:    var(--max_hr_fs);
    line-height:  var(--max_hr_lh);
    position:     var(--max_hr_position);
    height:       var(--max_hr_height);
    margin:       var(--max_hr_margin);
    padding:      var(--max_hr_padding);
    border:       var(--max_hr_border);
    outline:      var(--max_hr_outline);

    background-color: none;
    width: 100%;
}

hr::before {
    display:      var(--max_hr-before_dislay);
    position:     var(--max_hr-before_position);
    left:         var(--max_hr-before_left);
    right:        var(--max_hr-before_right);
    top:          var(--max_hr-before_top);
    bottom:       var(--max_hr-before_bottom);
    padding-top:  var(--max_hr-before_pt);
    content:      var(--max_hr-before_content);
    text-align:   var(--max_hr-before_ta);
    }

/* LINKS */

a[href] {
  text-decoration: none;
  color: var(--max_main_links_c);
  border-bottom: .05em solid;
  border-color: var(--a-border-color)
}

a[href]:hover {
  color: var(--a-hover-color);
  text-decoration: none;
  border-color: var(--a-hover-border-color)
}

a[href^="#_ft"] {
  font-size: .65em;
  vertical-align: super;
  line-height: 0
}

/* IMAGENS */

.image a,
a.image,
a[href$=gif],
a[href$=jpe],
a[href$=jpeg],
a[href$=jpg],
a[href$=png],
a[href^=\#],
img a[href] {
  border: none;
  border-bottom: none;
  border-bottom-color: none
}

.image a:hover,
a.image:hover,
a[href$=gif]:hover,
a[href$=jpe]:hover,
a[href$=jpeg]:hover,
a[href$=jpg]:hover,
a[href$=png]:hover,
a[href^=\#]:hover,
img a[href]:hover {
  border: none;
  border-bottom-color: none
}

img {
  max-width: 100%
}

/* LISTAS */

li {
  line-height: 1.5em
}


/* NÃO SEI */

pre {
  background-color: #e0e0e0;
  padding: 10px;
  overflow: auto
}

/* OUTROS */

[class*=sidebar],
[id*=sidebar],
aside {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  padding: 5px 15px
}

[class*=emoji],
[class*=icon] {
  width: 1em
}

/* EMBEDS DE YOUTUBE */

.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px
}

iframe[src*="youtube.com/embed/"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0
}
