/* Variáveis globais para todos meus temas */

/* Fontes */

/* 
@import url(https://maxlinworm.github.io/Fonts/freighttext.css);
@import url(https://maxlinworm.github.io/Fonts/heldane.css);
@import url(https://maxlinworm.github.io/Fonts/signifier.css);
@import url(https://maxlinworm.github.io/Fonts/epicene.css);
@import url(https://maxlinworm.github.io/Fonts/lyontext.css);
*/
@import url(https://maxlinworm.github.io/Fonts/agaramond.css);

/* ---- VARIÁVEIS ---- */

/* CORES */

/* Light Mode */

:root {
    --max_color_primary: rgb(255, 91, 61);
    --max_color_text: rgb(32, 33, 36); /* Google */
    --max_color_text_muted: rgb(55, 56, 59);
    --max_color_pag_foreground: white;
    --max_color_pag_background: white; 
    --max_color_pag_shadow_c-rgb: 60, 64, 67;
    --max_color_pag_shadow_c: rgb(
        var(--max_color_pag_shadow_c-rgb) );
}

/* Dark Mode */
@media (prefers-color-scheme:dark) {
    :root {
        --max_color_primary: rgb(95, 191, 230);
        --max_color_text: rgb(232, 234, 237); /* Google */
        --max_color_text_muted: rgb(212, 214, 216);
        --max_color_pag_foreground: rgb(41, 42, 45);
        --max_color_pag_background: rgb(32, 33, 36);
        --max_color_pag_shadow_c-rgb: 0, 0, 0;
        --max_color_pag_shadow_c: rgb(
            var(--max_color_pag_shadow_c-rgb) );
    }
}

/* ELEVATION */
/* Retirado do google (history) - ver Roam */

:root {
    --max_elevation-1: 
        rgba(var(--max_color_pag_shadow_c-rgb), .3) 0 1px 2px 0,
        rgba(var(--max_color_pag_shadow_c-rgb), .15) 0 1px 3px 1px;
    --max_elevation-2:
        rgba(var(--max_color_pag_shadow_c-rgb), .3) 0 1px 2px 0, 
        rgba(var(--max_color_pag_shadow_c-rgb), .15) 0 2px 6px 2px;
    --max_elevation-3:
        rgba(var(--max_color_pag_shadow_c-rgb), .3) 0 1px 3px 0,
        rgba(var(--max_color_pag_shadow_c-rgb), .15) 0 4px 8px 3px;
    --max_elevation-4:
        rgba(var(--max_color_pag_shadow_c-rgb), .3) 0 2px 3px 0,
        rgba(var(--max_color_pag_shadow_c-rgb), .15) 0 6px 10px 4px;
    --max_elevation-5:
        rgba(var(--max_color_pag_shadow_c-rgb), .3) 0 4px 4px 0,
        rgba(var(--max_color_pag_shadow_c-rgb), .15) 0 8px 12px 6px;

    --max_elevation_brad: 8px; /* border-radius */
}

/* CONTAINERS - CARDS */

:root {
    /* Background */
    --max_cont_pag_background_bg: var(--max_color_pag_background);

    /* Foreground */
    --max_cont_pag_foreground_bg: var(--max_color_pag_foreground);
    --max_cont_pag_foreground_margin: 70px auto 30px;

    --max_cont_pag_foreground_pt: 70px;
    --max_cont_pag_foreground_pr: 125px;
    --max_cont_pag_foreground_pl: 125px;
    --max_cont_pag_foreground_pb: 50px;
    
    /* Totaliza 660px a coluna de texto com fs 18.5 */
    --max_cont_pag_foreground_mw-f: 30em;
    --max_cont_pag_foreground_mw: calc(var(--max_cont_pag_foreground_mw-f)
        + var(--max_cont_pag_foreground_pl) 
        + var(--max_cont_pag_foreground_pr) 
    ); 
    --max_cont_pag_foreground_elevation: var(--max_elevation-2);
    --max_cont_pag_foreground_brad: var(--max_elevation_brad);
}

/* TODO Dark Mode */

/* VARIÁVEIS QUE MUDAM COM O TEMA */

:root {
    --max_q_border-size: 2.5px;

    --max_code_ff: 'Cartograph CF',/*'fira code retina', 'fira mono', 'Hasklig', */'Source Code Pro', 'Fira Mono', 'Cascadia Code', 'operator mono', 'IBM Plex Mono', 'Consolas', monospace;
    --max_code_fw: 430; /* 325 para operator, 450 para hasklig */
}

@media (prefers-color-scheme:dark) {
    :root {
        --max_q_border-size: 1.5px;
        --max_code_ff: 'Cartograph CF',/*'fira code', 'fira mono', 'Hasklig', */'Source Code Pro', 'Fira Mono', 'Cascadia Code', 'operator mono', 'IBM Plex Mono', 'Consolas', monospace;
        --max_code_fw: 400; /* 325 para operator */
    }
}

/* TIPOGRAFIA */

:root {

    /* MAIN */
    
    --max_main_links_c: var(--max_color_primary);
    --max_main_ff_serif: 'GaramondMax', /*'FreightTextMax',*/ 'Source Serif Pro', 'Equity Text B', 'Palatino Linotype', Georgia;
    --max_main_ff_sans: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', "Segoe UI", sans-serif;
    --max_main_c: var(--max_color_text);

    /* BODY */

    --max_body_ff_serif: var(--max_main_ff_serif);
    --max_body_ff_sans:  var(--max_main_ff_sans);
    --max_body_fs: 20px;
    --max_body_lh: 1.4em;
    --max_body_c: var(--max_main_c);

    /* Font feature settings */
    --max_body_ffs: "kern", "calt", "liga";

    /* Hifens */
    --max_body_hifens: auto;
    --max_body_hifens_limit-before: 3;
    --max_body_hifens_limit-after: 3;
    --max_body_hifens_limit-chars: 6 3 3;
    --max_body_hifens_limit-lines: 2;
    --max_body_hifens_limit-last: always;
    --max_body_hifens_limit-zone: 8%;
    --max_body_hifens_wrap: break-word;


    /* Espaçamento de Parágrafos */

    /* Indent */
    --max_body_p-indent_mbs: 0em;   /* margin-block-start */
    --max_body_p-indent_mbe: 0em;   /* margin-block-end */
    --max_body_p-indent_ti: 1.3em;  /* text indent */

    /* Espaço */
    --max_body_p-espaco_mbs: 0.75em; /* margin-block-start */
    --max_body_p-espaco_mbe: 0em; /* margin-block-end */

    /* BLOCKQUOTES */

    --max_q_mbs: 0.333em;
    /* Maior que top porque visualmente necessário */
    --max_q_mbe: 0.4em;
    
    --max_q_pt: calc(var(--max_body_p-espaco_mbs) / 3);
    --max_q_pr: calc(var(--max_body_p-indent_ti) * 1.25) - var(--max_q_border-size); /* padding-right */
    /* Maior que top porque visualmente necessário */
    --max_q_pb: calc(var(--max_body_p-espaco_mbs) / 2.5);
    --max_q_pl: calc((var(--max_body_p-indent_ti) * 1.25) - var(--max_q_border-size)); /* padding-left */

    --max_q_bl: var(--max_q_border-size) solid var(--max_main_links_c); /* border left */

    /* LISTS */
    --max_ul_mbs: calc(var(--max_body_p-espaco_mbs) / 3);
    /* Maior porque visualmente é necessário */
    --max_ul_mbe: calc(var(--max_body_p-espaco_mbs) / 2.5);
    --max_ul_mis: calc(var(--max_body_p-indent_ti) * 1.25);

    /* CODE */

    --max_code_fs: 14px; /* 14 para hasklig, source, cascadia, operator e consolas. 13 para Fira */
    --max_code_lh: 1.3; /* 1.3 para hasklig, source, cascadia, operator e consolas 1.4 para Fira */

    /* para fira code: 'dlig', 'calt', 'liga', 'ss03', 'ss05' 
       para cascadia: 'dlig', 'calt', 'liga', 'ss19' 
       para source code 'calt', 'dlig', 'liga', 'clig', 'zero', 'ss06'
       para Cartograph: 'calt', 'dlig', 'liga', 'clig', 'zero'
    */
    --max_code_ffs: 'calt', 'dlig', 'liga', 'clig', 'zero';

    /* font-variant */
    --max_code_fv: common-ligatures discretionary-ligatures no-historical-ligatures contextual /*styleset(ss06)*/; 
    /* font-variant-ligatures */
    --max_code_fvl: common-ligatures discretionary-ligatures no-historical-ligatures contextual;
    /* font-variant-alternates */
    --max_code_fva: /*styleset(ss06)*/;

    /* HEADINGS */

    /* Geral */
    --max_h_ff: var(--max_body_ff_serif);

    /* Title */
    --max_ht_ff: var(--max_h_ff);
    --max_ht_fs: 2em;
    --max_ht_fw: 500;
    --max_ht_lh: 1.3em;
    --max_ht_ls: 0em; /* Letterspacing */

    --max_ht_mbs: 1.5em;
    --max_ht_mbe: 1em;

    --max_ht_fv: normal;

    /* H1 */
    --max_h1_ff: var(--max_h_ff);
    --max_h1_fs: 1.65em;
    --max_h1_fw: 550;
    --max_h1_lh: 1.35em;
    --max_h1_ls: 0em; /* Letterspacing */

    --max_h1_mbs: 1.5em;
    --max_h1_mbe: var(--max_body_p-espaco_mbe);

    --max_h1_fv: normal;

    /* H2 */
    --max_h2_ff: var(--max_h_ff);
    --max_h2_fs: 1.4em;
    --max_h2_fw: 550;
    --max_h2_lh: 1.35em;
    --max_h2_ls: 0em; /* Letterspacing */

    --max_h2_mbs: 1.35em; /* margin-block-start */
    --max_h2_mbe: var(--max_body_p-espaco_mbe);

    --max_h2_fv: normal;

    /* H3 */
    --max_h3_ff: var(--max_h_ff);
    --max_h3_fs: 1.25em;
    --max_h3_fw: 500;
    --max_h3_lh: 1.35em;
    --max_h3_ls: 0em; /* Letterspacing */

    --max_h3_mbs: 1.35em; /* margin-block-start */
    --max_h3_mbe: var(--max_body_p-espaco_mbe);
    
    --max_h3_fv: normal;

    /* H4 */
    --max_h4_ff: var(--max_h_ff);
    --max_h4_fs: 1.125em;
    --max_h4_fw: 400;
    --max_h4_lh: 1.35em;
    --max_h4_ls: 0.065em; /* Letterspacing por causa do small caps*/

    --max_h4_mbs: 1.35em; /* margin-block-start */
    --max_h4_mbe: var(--max_body_p-espaco_mbe);

    --max_h4_fv: small-caps; /* font-variant */
    
    /* H5 */
    --max_h5_ff: var(--max_h_ff);

    /* H6 */
    --max_h6_ff: var(--max_h_ff);
}

/* Laptop */
@media screen 
        and (min-device-width: 1200px) 
        and (max-device-width: 1280px) {
    :root {
        --max_body_fs: 20px;
    }
}

/* Desktop */
/*
@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1280px)
{
    :root {
        --max_body_fs: 18.5px;
    }
}
*/



/* OUTROS ELEMENTOS */

:root {

    /* HORIZONTAL RULES
     * parecido com Shady Characters */

    --max_hr_fs: var(--max_body_fs); 
    --max_hr_lh: var(--max_body_lh);

    --max_hr_position: relative; /* Position */
    --max_hr_height: 3em; /* Height */

    --max_hr_margin: 0em; /* Margin */
    --max_hr_padding: 0em; /* Padding */

    --max_hr_border: 0; /* Border */
    --max_hr_outline: 0; /* Outline */

    --max_hr-before_dislay: block;
    --max_hr-before_position: absolute;
    --max_hr-before_left: 0;
    --max_hr-before_right: 0;
    --max_hr-before_top: 0;
    --max_hr-before_bottom: 0;
    --max_hr-before_pt: .9em; /*padding-top*/
    --max_hr-before_content: "⁂";
    --max_hr-before_ta: center; /* text-align */
}


/* Cores 
- Links
    - Hover
    - Sublinhado
        - Hover


