/* Com base em [DEVONthink_RSS_Default.css](hook://file/juSveNvhR?p=REVWT050aGluayAzL1N0eWxlU2hlZXRz&n=DEVONthink%5FRSS%5FDefault%2Ecss)
*/

:root {
    --max_article_column: 650px;
    --max_body_wd: 84%;
    --max_color_bg: #fff;
    --max_color_text: rgb(36, 35, 33);
    --max_color_links: rgb(65, 110, 210);
    --max_color_secondary: hsl(0, 0%, 50%);
    --max_color_tertiary: hsl(0, 0%, 76%);
    --max_color_bg_secondary: hsl(0, 0%, 94%);
    
    --max_body_hifens: auto;
    --max_body_hifens_limit-before: 3;
    --max_body_hifens_limit-after: 3;
    --max_body_hifens_limit-chars: 6 3 3;
    --max_body_hifens_limit-lines: 2;
    --max_body_hifens_limit-last: always;
    --max_body_hifens_limit-zone: 8%;
    --max_body_hifens_wrap: break-word;


    --max_body_ff: '.SF NS', -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', Helvetica, Roboto, ui-sans-serif;
    --max_body_lh: 1.5;
    --max_body_fs: 16px;

    --max_body_p_mb: 1em;

    --max_body_q_pl: 50px;
    --max_body_q_fs: 14px;
    --max_body_q_ff: var(--max_body_ff);
    --max_body_q_lh: 1.3;

    --max_code_ff: 'Roboto Mono', 'SF Mono', 'Source Code Pro', menlo, monospace;
    --max_code_fs: 13px;
    --max_code_lh: 1.3;
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --max_color_bg:  hsl(0, 0%, 16%);
        --max_color_text: rgb(238, 236, 233);
        --max_color_links: hsl(218, 100%, 72%);
        --max_color_secondary: hsl(0, 0%, 55%);
        --max_color_tertiary: hsl(0, 0%, 50%);
        --max_color_bg_secondary: hsl(0, 0%, 10%);
        --max_color_title: var(--max_color_text);
    }
}

@media (max-width: 450px) {
    :root {
        --max_body_wd: 90%;
    }
}


html {
    font-size: 16px;
    box-sizing: content-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, table {
    margin: 0;
    color: var(--max_color_text);
    background-color: var(--max_color_bg);
    font-family: var(--max_body_ff);
    font-weight: 400;
    font-size:  var(--max_body_fs);
    line-height: var(--max_body_lh);
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

body {

    & > * {
    width: var(--max_body_wd);
    max-width: var(--max_article_column);
    }

    p, ol, ul, li, blockquote {
        -webkit-hyphens: var(--max_body_hifens);
        -webkit-hyphenate-limit-before: var(--max_body_hifens_limit-before);
        -webkit-hyphenate-limit-after: var(--max_body_hifens_limit-after);
        -webkit-hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        -webkit-hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        -webkit-hyphenate-limit-last: var(--max_body_hifens_limit-last);
        -webkit-hyphenate-limit-zone: var(--max_body_hifens_limit-zone);

        -moz-hyphens: var(--max_body_hifens);
        -moz-hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        -moz-hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        -moz-hyphenate-limit-last: var(--max_body_hifens_limit-last);
        -moz-hyphenate-limit-zone: var(--max_body_hifens_limit-zone);

        -ms-hyphens: var(--max_body_hifens);
        -ms-hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        -ms-hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        -ms-hyphenate-limit-last: var(--max_body_hifens_limit-last);
        -ms-hyphenate-limit-zone: var(--max_body_hifens_limit-zone);

        overflow-wrap: var(--max_body_hifens_wrap);
        hyphens: var(--max_body_hifens);
        hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        hyphenate-limit-last: var(--max_body_hifens_limit-last);
        hyphenate-limit-zone: var(--max_body_hifens_limit-zone);
    }
}

.metadata {

    & > * {
        display: inline;
    }

    > .author-prefix, > .pub-date-prefix {
        color: var(--max_color_secondary);
    }
}

a:link, a:visited, a:active {
    color: var(--max_color_links);
    text-decoration: underline;
}


h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.35em;
    font-weight: 600;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
}

h4 {
    font-size: 1.15em;
    font-weight: 600;
    font-variant: small-caps;
}

h5 {
    font-size: 1.15em;
    font-weight: 500;
}

h6 {
    font-size: 1.15em;
    font-weight: 400;
}

p {
    margin: 0;
    padding-bottom: none;
    margin-bottom: var(--max_body_p_mb);
}

ol, ul {
    margin: 0;
    padding: 0 0 1rem 5rem;
}

figure {
    margin: 0;
}

figcaption {
    color: var(--max_color_secondary);
    padding-bottom: 1rem;
}

img {
    padding: 0.15rem 0.15rem 1.5rem 0.15rem;
    max-width: 100%;
    height: auto;
    
    display: block;
}

strong, b {
    font-weight: 600;
}

blockquote {
    margin: 0;
    padding: 0;
    border-left: none;
    padding-left: var(--max_body_q_pl);
    font-size: var(--max_body_q_fs);
    font-family: var(--max_body_q_ff);
    line-height: var(--max_body_q_lh);
}

blockquote p {
    padding-bottom: 0;
}

hr {
    margin: 0 0 1.3rem 0;
    background-color: var(--max_color_tertiary);
    border: 0;
    height: 1px;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.6em;
    vertical-align: baseline;
}

pre, code {
    margin: 0;
    font-family: var(--max_code_ff);
    font-size: var(--max_code_fs);
    line-height: var(--max_code_lh);
}

pre {
    margin-bottom: 1rem;
    padding: 0.6rem 1.4rem;
    background-color: var(--max_color_bg_secondary);
    border-radius: 4px;
    overflow-x: visible;
    white-space: pre-wrap;
}