/* Com base em [DEVONthink_RSS_Default.css](hook://file/juSveNvhR?p=REVWT050aGluayAzL1N0eWxlU2hlZXRz&n=DEVONthink%5FRSS%5FDefault%2Ecss)
*/
@import url(https://maxlinworm.github.io/max_normal_simples_variaveis.css);

html {
    font-size: 16px;
    box-sizing: content-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
table {
    margin: 0;
    color: var(--max_color_text);
    background-color: var(--max_color_bg);
    font-family: var(--max_body_ff);
    font-weight: 400;
    font-size: var(--max_body_fs);
    line-height: var(--max_body_lh);
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

body {
    & > * {
        width: var(--max_body_wd);
        max-width: var(--max_article_column);
    }

    p,
    ol,
    ul,
    li,
    blockquote {
        -webkit-hyphens: var(--max_body_hifens);
        -webkit-hyphenate-limit-before: var(--max_body_hifens_limit-before);
        -webkit-hyphenate-limit-after: var(--max_body_hifens_limit-after);
        -webkit-hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        -webkit-hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        -webkit-hyphenate-limit-last: var(--max_body_hifens_limit-last);
        -webkit-hyphenate-limit-zone: var(--max_body_hifens_limit-zone);

        -moz-hyphens: var(--max_body_hifens);
        -moz-hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        -moz-hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        -moz-hyphenate-limit-last: var(--max_body_hifens_limit-last);
        -moz-hyphenate-limit-zone: var(--max_body_hifens_limit-zone);

        -ms-hyphens: var(--max_body_hifens);
        -ms-hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        -ms-hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        -ms-hyphenate-limit-last: var(--max_body_hifens_limit-last);
        -ms-hyphenate-limit-zone: var(--max_body_hifens_limit-zone);

        overflow-wrap: var(--max_body_hifens_wrap);
        hyphens: var(--max_body_hifens);
        hyphenate-limit-chars: var(--max_body_hifens_limit-chars);
        hyphenate-limit-lines: var(--max_body_hifens_limit-lines);
        hyphenate-limit-last: var(--max_body_hifens_limit-last);
        hyphenate-limit-zone: var(--max_body_hifens_limit-zone);
    }
}

.metadata {
    & > * {
        display: inline;
    }

    .author-prefix,
    .pub-date-prefix {
        color: var(--max_color_secondary);
        font-size: var(--max_metadata_prefix_fs);
        font-style: italic;
    }
}

a:link,
a:visited,
a:active {
    color: var(--max_color_links);
    text-decoration: underline;
}

strong,
b {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--max_body_headings_ff);
    font-size: var(--max_body_headings_fs);
    font-weight: var(--max_body_headings_fw);
    letter-spacing: var(--max_body_headings_ls);
    line-height: var(--max_body_headings_lh);
    margin-top: var(--max_body_headings_mt);
    margin-bottom: var(--max_body_headings_mb);
    font-variant: var(--max_body_headings_fv);
}

p {
    margin: 0;
    padding-bottom: none;
    margin-bottom: var(--max_body_p_mb);
}

blockquote {
    margin: 0;
    padding: 0;
    border-left: none;
    padding-left: var(--max_body_q_pl);
    font-size: var(--max_body_q_fs);
    font-family: var(--max_body_q_ff);
    line-height: var(--max_body_q_lh);
}

blockquote p {
    padding-bottom: 0;
}

blockquote > :last-child {
    margin-bottom: var(--max_body_p_mb);
}

ol,
ul {
    margin: 0;
    padding: 0 0 1rem 5rem;
}

figure {
    margin: 0;
    max-width: 100% !important;
    height: auto !important;
}

figcaption {
    color: var(--max_color_secondary);
    margin-top: -1.15rem;
    padding: 0.15rem 0.15rem 1.5rem 0.15rem;
    padding-bottom: 1rem;
    font-size: var(--max_figure_caption_fs);
}

img {
    padding: 0.15rem 0.15rem 1.5rem 0.15rem;
    display: block;
    max-width: 100% !important;
    height: auto !important;
}

hr {
    margin: 0 0 1.3rem 0;
    background-color: var(--max_color_tertiary);
    border: 0;
    height: 1px;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.6em;
    vertical-align: baseline;
}

/* CODE */

pre,
code {
    margin: 0;
    font-family: var(--max_code_ff);
    font-size: var(--max_code_fs);
    line-height: var(--max_code_lh);
}

pre {
    margin-bottom: 1rem;
    padding: 0.6rem 1.4rem;
    background-color: var(--max_color_bg_secondary);
    border-radius: 4px;
}

/* Com Prism override */
pre, 
code[class*="language-"],
pre[class*="language-"] {
    overflow-x: visible !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;

    text-shadow: none !important;
    font-family: var(--max_code_ff) !important;
    font-size: var(--max_code_fs) !important;
    line-height: var(--max_code_lh) !important;
}

/* Tentando debugar impressão cortando parágrafos 
@media print{
    .feed_article > * {
        overflow: visible;
    }
}

@page {
    size: 210cm 297cm;
    margin: 1.5cm 3.5cm;
}
*/
