:root {
    /* Fontes */

    --max-ff-sans: 'SF Pro Text';
    --max-ff-mono--body: 'Triplicate T4';

    /* Focus Mode */
    
    /*300ms*/
    --m-trans-delay: 200ms;

    /* 2s */
    --m-ease-delay-1: 2s;

    --m-ease-delay-0: 0s;

    /*opacity 300ms ease 0s, color 300ms ease 0s; */
    --m-transition-1: opacity var(--m-trans-delay) ease 2s, color var(--m-trans-delay) ease var(--m-ease-delay-1), height var(--m-trans-delay) var(--m-ease-delay-1) !important;

    /*opacity 300ms ease 0s, color 300ms ease 0s;*/
    --m-transition-0: opacity var(--m-trans-delay) ease 0s, color var(--m-trans-delay) ease var(--m-ease-delay-0), height var(--m-trans-delay) ease var(--m-ease-delay-0);
}

/* === REGRAS === */

/* --- TIPOGRAFIA --- */

/* -- Fontes -- */

/* Sans */

.notion-app-inner.notion-light-theme[style*='font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";'],
.notion-page-controls[style*='font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";'],
.notion-selectable.notion-page-block[style*='font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";'],
.notion-selectable.notion-header-block .notranslate[style*='font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";'],
.notion-selectable.notion-sub_header-block .notranslate[style*='font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";'],
.notion-selectable.notion-sub_sub_header-block .notranslate[style*='font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";'] {
    font-family: var(--max-ff-sans) !important;
}

/* Mono */

.notion-selectable.notion-page-block[style*='font-family: iawriter-mono'],
.notion-page-content[style*='font-family: iawriter-mono'],
.notion-selectable.notion-header-block .notranslate[style*='font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;'],
.notion-selectable.notion-sub_header-block .notranslate[style*='font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;'],
.notion-selectable.notion-sub_sub_header-block .notranslate[style*='font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;'] {
    font-family: var(--max-ff-mono--body) !important;
    font-feature-settings: 'ss01';
}

/* -- Outros -- */

/* Título de páginas */
div.notion-page-block[style*='font-size: 40px'] {
    letter-spacing: -0.025em;
}

/* Mono */

/* Retira letterspacing do mono, porque a fonte que eu uso já tem */
.notion-page-content[style*="font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; font-size: 15px; letter-spacing: 0.055em;"] {
    letter-spacing: normal !important;
}


/* Sans */

/* Body Sans*/
/* Perfeito para SF Pro Text que eu hosto no GitHub (mais espaçada)
.notion-page-content[style*="font-size: 16px;"] {
    letter-spacing: -0.025em;
}

/* --- MODIFICAÇÕES DE UI --- */

/* REMOVE BOTÃO DE AJUDA */
.notion-help-button.notion-focusable {
    display: none !important;
}

/* MARGINS QUANDO JANELA É PEQUENA */


/* Com Sidebar fechado */

@media (max-width: 700px) and (min-width: 521px) {
    .notion-cursor-listener: has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] {
        padding-left: calc(36px + env(safe-area-inset-left)) !important;
        padding-right: calc(36px + env(safe-area-inset-right)) !important;
    }

    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-text-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-toggle-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-bulleted_list-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-sub_header-block {
        max-width: 100% !important
    }
}

@media (max-width: 520px) {
    .notion-cursor-listener: has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] {
        padding-left: calc(18px + env(safe-area-inset-left)) !important;
        padding-right: calc(18px + env(safe-area-inset-right)) !important;
    }

    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-text-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-toggle-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-bulleted_list-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: auto;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-sub_header-block {
        max-width: 100% !important
    }
}

/* Com Sidebar Fechado */

@media (max-width: 880px) and (min-width: 691px) {
    .notion-cursor-listener: has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] {
        padding-left: calc(36px + env(safe-area-inset-left)) !important;
        padding-right: calc(36px + env(safe-area-inset-right)) !important;
    }

    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-text-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-toggle-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-bulleted_list-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-sub_header-block {
        max-width: 100% !important
    }
}

@media (max-width:690px) {
    .notion-cursor-listener: has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] {
        padding-left: calc(18px + env(safe-area-inset-left)) !important;
        padding-right: calc(18px + env(safe-area-inset-right)) !important;
    }

    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-text-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-toggle-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-bulleted_list-block,
    .notion-cursor-listener:has(.notion-sidebar-container .notion-sidebar[style*='height: 100%;']) .notion-page-content[style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-bottom: 30vh; padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right));"] .notion-sub_header-block {
        max-width: 100% !important
    }
}

/* TOP BAR EM FOCUS MODE */

/* Esconde topbar quando transparente (escrevendo) */

/* Usei height porque consigo colocar transição */



/* === SEARCH AUTO-COMPLETE === */

/* Tabelas de autopreenchimento das relações */

/* O código abaixo quebra as linhas. O problema é que o 
   botão de hover para adicionar não segue, pois não
   é no mesmo container 

.notion-scroller.horizontal[style='min-height: auto; padding-bottom: 16px; z-index: 1; overflow: auto hidden; margin-right: 0px; margin-bottom: 0px;'] .notion-focusable[style*=' height: 31px'] {
    height: fit-content !important;
} */

/* Cabeçalhos 
div[style^='display: flex; align-items: center; position: relative; flex-direction: column; transform-origin: 50% bottom; left: 0px; opacity: 1; bottom: 0px;'] div[style^='display: flex; align-items: center; line-height: 120%; min-width: 0px; font-size: 14px; width: 300px; color: rgba(55, 53, 47, 0.65); padding-left: 8px;'] {
    width: 1200px !important;
}

/* Items 
.notion-scroller.horizontal div[style^='display: block; width: 300px; border-right: none; white-space: nowrap; min-height: 32px; cursor: default; height: 32px; padding: 5px 8px 6px; font-size: 14px; overflow: hidden;'] {
    width: 1200px !important;
    /*height: fit-content !important;

}

/*
   .notion-scroller.horizontal div[style^='display: block; width: 300px; border-right: none; white-space: nowrap; min-height: 32px; cursor: default; height: 32px; padding: 5px 8px 6px; font-size: 14px; overflow: hidden;'] > span {
        overflow: visible !important;
        white-space: normal !important;
        height: fit-content !important;    
    } 
*/

/* No search para preencher relações 
div[style^='display: flex; align-items: center; line-height: 120%; min-width: 0px; font-size: 14px; width: 300px; color: rgba(55, 53, 47, 0.6); padding-left: 8px;'] {
    width: 1200px !important;
}

/* Search-autocomplete do mention */
.notion-overlay-container.notion-default-overlay-container div[style="border-radius: 3px; background: white; position: relative; max-width: calc(100vw - 24px); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden;"] div[style='display: flex; flex-direction: column; width: 330px; min-width: 180px; max-width: calc(100vw - 24px); height: 100%; max-height: 40vh;'] {
    width: 500px !important;
}

.notion-overlay-container.notion-default-overlay-container div[style="border-radius: 3px; background: white; position: relative; max-width: calc(100vw - 24px); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden;"] div[style='display: flex; flex-direction: column; width: 330px; min-width: 180px; max-width: calc(100vw - 24px); height: 100%; max-height: 40vh;'] .notion-scroller.vertical .notranslate.notion-focusable .notranslate[style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'] {
    overflow: visible !important;
    white-space: normal !important;
}

/* Table of contents */
.notion-selectable.notion-table_of_contents-block .notranslate[style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;'] {
    white-space: normal !important;
    overflow: visible !important;
    background-image: none !important;
}

/* Novo relation picker */
.notion-overlay-container.notion-default-overlay-container div[style='border-radius: 4px; background: white; position: relative; max-width: calc(100vw - 24px); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden; width: 400px; min-height: 65px;'] {
    width: 95vh !important;
}