/* === FONTES === */
@import url(https://maxlinworm.github.io/Fonts/sf-segoe.css);

/* == iA Writer Mono == */

/* Usar Text em vez de Regular no Light Mode*/

@media (prefers-color-scheme: light) {
    @font-face {
        font-family: 'iawriter-mono';
        src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-Text20.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'iawriter-mono';
        src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-TextItalic20.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }
}

/* Usa regular no Dark Mode */

@media (prefers-color-scheme: dark) {
    @font-face {
        font-family: 'iawriter-mono';
        src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-Regular20.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'iawriter-mono';
        src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-Italic20.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }
}

/* Text */

@font-face {
    font-family: 'iawriter-mono';
    src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-Text20.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'iawriter-mono';
    src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-TextItalic20.ttf') format('truetype');
    font-weight: 450;
    font-style: italic;
}

/* Semi-Bold */

@font-face {
    font-family: 'iawriter-mono';
    src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-Semibold20.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'iawriter-mono';
    src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-SemiboldItalic20.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */

@font-face {
    font-family: 'iawriter-mono';
    src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-Bold20.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'iawriter-mono';
    src: url('https://maxlinworm.github.io/Fonts/Mono/iAWriterMono/iAWriterMono-BoldItalic20.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

:root {
    --m-trans-delay: 200ms;
    /*300ms*/
    --m-ease-delay-1: 2s;
    /* 2s */
    --m-ease-delay-0: 0s;
    --m-transition-1: opacity var(--m-trans-delay) ease 2s, color var(--m-trans-delay) ease var(--m-ease-delay-1), height var(--m-trans-delay) var(--m-ease-delay-1) !important;
    /*opacity 300ms ease 0s, color 300ms ease 0s; */
    --m-transition-0: opacity var(--m-trans-delay) ease 0s, color var(--m-trans-delay) ease var(--m-ease-delay-0), height var(--m-trans-delay) ease var(--m-ease-delay-0);
    /*opacity 300ms ease 0s, color 300ms ease 0s;*/
}


/* === REGRAS === */

/* --- TIPOGRAFIA --- */

/* Título de páginas */
div.notion-page-block[style*='font-size: 40px'] {
    letter-spacing: -0.03em;
}

/* Mono */
/* Retira letterspacing do mono, porque a fonte que eu uso já tem */

.notion-page-content[style*="font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; font-size: 15px; letter-spacing: 0.055em;"] {
    letter-spacing: normal !important;
}


/* Sans */
/* Body Sans*/
/* Perfeito para SF Pro Text que eu hosto no GitHub (mais espaçada)*/
.notion-page-content[style*="font-size: 16px;"] {
    letter-spacing: -0.025em;
}

/* --- MODIFICAÇÕES DE UI --- */

/* REMOVE BOTÃO DE AJUDA */
.notion-help-button.notion-focusable {
    display: none !important;
}

/* Margens quando tamanho é pequeno */
@media (max-width: 520px) {
    .notion-page-content[style*='padding-left: calc(96px + env(safe-area-inset-left)); padding-right: calc(96px + env(safe-area-inset-right))'] {
        padding-left: calc(18px + env(safe-area-inset-left)) !important;
        padding-right: calc(18px + env(safe-area-inset-right)) !important;
    }

    .notion-text-block,
    .notion-toggle-block {
        max-width: 100% !important
    }
}

/* Top Bar Hidden in Focus Mode */

/* Esconde topbar quando transparente (escrevendo) 
   Usei height porque consigo colocar transição */
.notion-topbar[style*="opacity: 0"] {
    /*display: none !important;*/
    height: 0px !important; /* 45px */
}

.notion-cursor-listener:has(.notion-topbar[style*="opacity: 0"]) .notion-frame {
    height: 100vh !important; /* calc(100vh + 45px) */
}

/* Transição */

.notion-topbar[style*="opacity: 1"] {
    /*transition: opacity 300ms ease 0s, color 300ms ease 0s;*/
    transition: var(--m-transition-1) !important
}

.notion-topbar[style*="opacity: 0"] {
    /*transition: opacity 300ms ease 0s, color 300ms ease 0s;*/
    transition: var(--m-transition-0) !important;
}

.notion-cursor-listener:has(.notion-topbar[style*="opacity: 1"]) .notion-frame {
    transition: var(--m-transition-1) !important;
}

.notion-cursor-listener:has(.notion-topbar[style*="opacity: 0"]) .notion-frame {
    transition: var(--m-transition-0) !important;
}

/* === SEARCH AUTO-COMPLETE === */

/* Tabelas de autopreenchimento das relações */

/* O código abaixo quebra as linhas. O problema é que o 
   botão de hover para adicionar não segue, pois não
   é no mesmo container 

.notion-scroller.horizontal[style='min-height: auto; padding-bottom: 16px; z-index: 1; overflow: auto hidden; margin-right: 0px; margin-bottom: 0px;'] .notion-focusable[style*=' height: 31px'] {
    height: fit-content !important;
} */

/* Cabeçalhos 
div[style^='display: flex; align-items: center; position: relative; flex-direction: column; transform-origin: 50% bottom; left: 0px; opacity: 1; bottom: 0px;'] div[style^='display: flex; align-items: center; line-height: 120%; min-width: 0px; font-size: 14px; width: 300px; color: rgba(55, 53, 47, 0.65); padding-left: 8px;'] {
    width: 1200px !important;
}

/* Items 
.notion-scroller.horizontal div[style^='display: block; width: 300px; border-right: none; white-space: nowrap; min-height: 32px; cursor: default; height: 32px; padding: 5px 8px 6px; font-size: 14px; overflow: hidden;'] {
    width: 1200px !important;
    /*height: fit-content !important;

}

/*
   .notion-scroller.horizontal div[style^='display: block; width: 300px; border-right: none; white-space: nowrap; min-height: 32px; cursor: default; height: 32px; padding: 5px 8px 6px; font-size: 14px; overflow: hidden;'] > span {
        overflow: visible !important;
        white-space: normal !important;
        height: fit-content !important;    
    } 
*/

/* No search para preencher relações 
div[style^='display: flex; align-items: center; line-height: 120%; min-width: 0px; font-size: 14px; width: 300px; color: rgba(55, 53, 47, 0.6); padding-left: 8px;'] {
    width: 1200px !important;
}

/* Search-autocomplete do mention */
.notion-overlay-container.notion-default-overlay-container 
  div[style="border-radius: 3px; background: white; position: relative; max-width: calc(100vw - 24px); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden;"] 
  div[style='display: flex; flex-direction: column; width: 330px; min-width: 180px; max-width: calc(100vw - 24px); height: 100%; max-height: 40vh;'] {
    width: 500px !important;
}

.notion-overlay-container.notion-default-overlay-container 
  div[style="border-radius: 3px; background: white; position: relative; max-width: calc(100vw - 24px); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden;"] 
  div[style='display: flex; flex-direction: column; width: 330px; min-width: 180px; max-width: calc(100vw - 24px); height: 100%; max-height: 40vh;'] 
  .notion-scroller.vertical .notranslate.notion-focusable .notranslate[style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'] {
    overflow: visible !important;
    white-space: normal !important;
}

/* Table of contents */
.notion-selectable.notion-table_of_contents-block 
  .notranslate[style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;'] {
    white-space: normal !important;
    overflow: visible !important;
    background-image: none !important;
}

/* Novo relation picker */
.notion-overlay-container.notion-default-overlay-container 
  div[style='border-radius: 4px; background: white; position: relative; max-width: calc(100vw - 24px); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden; width: 400px; min-height: 65px;'] {
    width: 95vh !important;
}