/* === VARIÁVEIS ===
   ----------------- */

 /* --- UNIVERSAIS --- */
:root,
body[data-theme="Zinc"],
body[data-theme="Deuterium"],
body[data-theme="Zinc"],
body[data-theme="Carbon"] {
    
    /* 12px */
    --max-gutter-left: 20px;
    --max-gutter-right: var(--max-gutter-left);
    --max-gutter-top: 15px;

    --max-card--paragraphSpacing: 12px;
    --max-card-body-pl: var(--max-gutter-left);
    --max-card-body-pr: var(--max-gutter-right);

    --max-card--view-lh: 1.4;
    --max-card--view-headers-ml: var(--max-gutter-left);
    --max-card--view-content-mt: var(--max-gutter-top);
    --max-card--view-body-fs: 16px;

    /* 1px */
    --max-card--edit-line-pt: 0px;
    /* 1px */
    --max-card--edit-line-pb: 0px;
    /* 15px */
    --max-card--edit-icon-pt: calc(15px + 5px);
    
    --max-card--edit-headers-mt: var(--max-gutter-top);
    --max-card--edit-parents-ml: var(--max-gutter-left);
    --max-card--edit-lh: var(--max-card--view-lh);

    /* --max-body-lh: 3; */

    /* MOBILE RESPONSIVE VIEW NO DESKTOP */
    --max-mobileResponsiveView-diminuicao: 30px;

    /* SIDE STRIP */
    --max-sideStrip-wd: 40px;
}

/* LIGHT MODE */

@media (prefers-color-scheme: light) {
    :root,
    body[data-theme="Zinc"],
    body[data-theme="Deuterium"] {
        --max-gray-tertiary: rgb(247, 247, 247);
    }
}

/* === REGRAS === 
   -------------- */
   
/* --- UI: USER INTERFACE --- */

/* UNIVERSAL COUPLER */

/* Pop-up de outocomplete */
.css-1af7qi0 {
    width: 400px;
}

/* Link e Title Couplers */

/* Title e Parents */
.css-1kffngw,
/*  Com Search */
.css-1032fps {
    flex-wrap: wrap;
    overflow: visible;
}

/* Title */
.css-1vupe60,
/* Title com search */
.css-c7ebff {
    overflow: visible;
    white-space: normal
}

/* Parents */
.css-1w77rm5 {
    max-width: 100%;
    overflow: visible;
    white-space: normal;
}

/* Excerpt */
.css-1ks0arq {
    font-size: 13px;
    overflow: visible;
}

/* BACKGROUND DO NOTEBOARD 
   que não seja seamless */
body[data-theme="Hydrogen"] .css-g97sdf:not(:has(.css-5fakxf)) {
    background-color: var(--max-gray-tertiary);
}

/* MARGENS E ALINHAMENTO DE CARDS */

/* Cards em View Mode */

/* View Mode - Card content (incluindo header) */
/* .css-rannzy*/
.css-198pm4l {
    padding-top: var(--max-card--view-content-mt);
}

/* Header no Noteboard, Sidebar, Zoomed In Card Title */

/* o seletor .css-rannzy faz com que só se aplique 
   aos do noteboard (não incluir o zoomed in title */
/* .css-198pm4l ERA .css-rannzy*/
.css-198pm4l .css-1qhmto6 {
    margin-left: var(--max-card--view-headers-ml);
}

/* Card Body */
.css-6yke1z,
.css-e4nwal,
.css-wmhtw7,
.css-kdadra,
.css-1vgnp66 {
    /* 14px */
    padding-left: var(--max-card-body-pl);
    padding-right: var(--max-card-body-pr);
}

/* Card Footer */

/* Multiplayer */
.multiplayer-block {
    margin-left: var(--max-gutter-left);
}

/* Tags e More */
.css-1v0pec7 {
    margin-right: var(--max-gutter-right);
}



/* Cards em Edit Mode */

/*  Title */
.ͼy .cm-line {
    margin-top: var(--max-card--edit-headers-mt);
}

/* Title */
.css-xdkp9e,
/* Parents */
.css-t3w4rt {
    margin-left: var(--max-card--edit-parents-ml);
}

/* Icon */
.css-1q5atxv {
    padding-top: var(--max-card--edit-icon-pt);
}

/* Content */
.css-4mbm8p {
    /* 10px */
    padding-top: var(--max-card--view-content-mt);
}

/* Body - Line */
.ͼz .cm-line {
    padding-left: var(--max-card-body-pl);
    padding-right: var(--max-card-body-pr);
    padding-top: var(--max-card--edit-line-pt);
    padding-bottom: var(--max-card--edit-line-pb);
}

/* Tags */
.css-gapdrv {
    /* 12px */
    margin-right: var(--max-gutter-right);
}

/* Footer (cancelar e finish) */
.css-aj3lhw {
    margin-left: var(--max-gutter-left);
    margin-right: var(--max-gutter-right);
}


/* MOBILE RESPONSIVE VIEW NO DESKTOP */

@media (max-width: 769px) {
    /* Botão de search */

    /* Botão de search*/
   
    .css-1krbjzp.command-prompt-button {
        height: calc(36px - var(--max-mobileResponsiveView-diminuicao));
        width: calc(36px - var(--max-mobileResponsiveView-diminuicao));
    }
    
    .css-1krbjzp {
        min-width: calc(28px - var(--max-mobileResponsiveView-diminuicao));
    }
    
    /* Botao de outline e pinned e notificações*/
    .css-gn6562,
    /* Botão de home */
    .css-15xdws2 {
        height: calc(42px - var(--max-mobileResponsiveView-diminuicao));
        width: calc(42px - var(--max-mobileResponsiveView-diminuicao));
    }

    /* Container */
    .css-1xo5yai {
        height: calc(66px - var(--max-mobileResponsiveView-diminuicao));
    }

    /* Noteboard Main Area */
    .css-1jhig1q {
        /*
        height: calc(100% - 48px);
        */
        height: calc(100% - calc(66px - var(--max-mobileResponsiveView-diminuicao)));
    }
}


/* SIDESTRIP */

/* Não conflitar com mobile responsive */
@media (min-width: 770px) {

    .css-1xo5yai {
        min-width: 40px;
        width: 40px;
    }
}

/* --- TIPOGRAFIA --- */

/* CARDS EM VIEW MODE */

/* Body */

.markdown-body {
    line-height: var(--max-card--view-lh)
}

.markdown-body p {
    margin-top: 0px;
    /* 0.6666em */
    margin-bottom: calc(var(--max-card--paragraphSpacing) + var(--max-card--edit-line-pt) + var(--max-card--edit-line-pb));
}

/* Expanded - 16px */
.css-6yke1z,
/* Expanded - 15px */
.css-e4nwal,
/* Collapsed - 15px */
.css-wmhtw7,
/* Collapsed - 16px */
.css-kdadra,
/* Zoomed In Note */
.css-1vgnp66 {
    font-size: var(--max-card--view-body-fs);
}


/* CARDS EM EDIT MODE */

.ͼz .cm-line {
    line-height: var(--max-card--edit-lh);
}

/* Diminui linha em branco de paráragro vazio */
.cm-line:has(>br:first-child):not(:has(:not(br))) {
    height: var(--max-card--paragraphSpacing);
    font-size: var(--max-card--paragraphSpacing);
    line-height: var(--max-card--paragraphSpacing);
}

/* Normaliza em parágrafo precedido de parágrafo vazio
   = Parágrafos vazios consecutivos  */
.cm-line:has(>br:first-child):not(:has(:not(br))) + .cm-line:has(>br:first-child):not(:has(:not(br))) {
    height: 1em;
    font-size: 1em;
    line-height: 1em;
}