/* 3c7fa4f - 2022-11-08 */

:root {
    --max-subtleControls-op: 0.2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --max-subtleControls-op: 0.3;
    }
}

:root.rm-dark-theme {
    --max-subtleControls-op: 0.3;
}

.rm-block .rm-bullet {
    opacity: 1;
}

/*
.rm-block:hover>.rm-block-main>.controls>.rm-bullet {
    opacity: 1;
}

.rm-focused>.rm-block-main>.controls>.rm-bullet {
    opacity: 1;
}

.rm-focused>.rm-block-main>.controls>.rm-bullet>.bp3-popover-wrapper .rm-bullet__inner {
    background-color: #9E2B0E;
}

*/
.rm-block .rm-multibar {
    opacity: var(--max-subtleControls-op);
}

.rm-block:hover>.rm-block-children>.rm-multibar {
    opacity: 1;
}

.rm-focused>.rm-block-children>.rm-multibar {
    opacity: 1;
}

.rm-ref-page-view .rm-title-arrow-wrapper>.rm-caret {
    opacity: var(--max-subtleControls-op);
}

.rm-ref-page-view:hover .rm-title-arrow-wrapper>.rm-caret {
    opacity: 1;
}

/* MAX */

/* Multibar dos ancestrais com foco */
.rm-block:focus-within>.rm-block-children>.rm-multibar {
    opacity: 1;
}