@import url(https://maxlinworm.github.io/max-base.css);

:root {
    /* UNIVERSAIS */
    --max-ff: var(--max_main_ff_sans);
    /*--max-fs: 1.06rem; */
    --max-co: var(--co-main);

    /* Bullets */
    --max-bullet-aumento: 1px;

    /* Bullet Fechado com children */
    --bt-bullet__closed: 4px solid rgb(217, 220, 223); /* 4px, solid, #f8f8f8 */
    --br-bullet__closed: var(--bt-bullet__closed);
    --bb-bullet__closed: var(--bt-bullet__closed);
    --bl-bullet__closed: var(--bt-bullet__closed);

    --bt-right-sidebar__bullet-closed: var(--bt-bullet__closed);
    --br-right-sidebar__bullet-closed: var(--bt-bullet__closed);
    --bb-right-sidebar__bullet-closed: var(--bt-bullet__closed);
    --bl-right-sidebar__bullet-closed: var(--bt-bullet__closed);

    /* Indicadores de Block references */
    --bc-ref-count--active: var(--bc-button--hover);
    
    /* Aumenta contraste do Multibar - Linha guias de hierarquia do Outline */
    --br-multibar: 2px solid rgb(236, 237, 236);

    /* MAIN */
    --ff-main: var(--max-ff);
    /*--fs-main: var(--max-fs);*/
    --fw-main: 400;

    /* HEADINGS */
    --max-headings-ff: var(--max-ff);

    /* Não sei, diz log book */
    --co-app__h1: red; /* #202224 */
    --ff-app__h1: var(--max-headings-ff);

    /* H1 */
    --ff-level1: var(--max-headings-ff);
    --fs-level1: 1.5rem;
    --max-headings-h1-lh: 1.35em;

    /* H2 */
    --ff-level2: var(--max-headings-ff);
    --fs-level2: 1.35rem;
    --max-headings-h2-lh: 1.35em;

    /* H3 */
    --ff-level3: var(--max-headings-ff);
    --fs-level3: 1.25rem;
    --fw-level3: 600;
    --max-headings-h3-lh: 1.35em;

    /* Page */
    --ff-page__title: var(--max-headings-ff);
    --fs-page__title: 1.5rem;
    --fw-page__title: 700;

    /* CODE */

    /* Blocos */
    --ff-codeblock__code: var(--max_code_ff);
    --fs-codeblock__code: var(--max_code_fs);
    --co-codeblock__code: var(--max-co);

    /* Inline */
    --ff-code: var(--max_code_ff);
    --fs-code: var(--max_code_fs);
    --co-code: var(--max-co);

    /* MENUS */
    --ff-div: var(--max-ff);

    /* QUOTES */

    --max-bl-quote: 2px solid var(--max_color_text_muted);
    /* Margin */
    --max-ma-quote: 10px 0px 0px 0px;
    /* Padding */
    --max-pa-quote: 0px 0px 0px 15px;
    --max-quote-ff: var(--max-ff);
    --max-quote-fs: var(--fs-main);
    --ff-quote: var(--max-quote-ff);
    --fs-quote: var(--max-quote-fs);
    --bc-quote: inherit;
}

@media(prefers-color-scheme: dark) {
    /* Cor dos bullets */
    :root {
        --bt-bullet__closed: 4px solid #4c4c4c;
        --br-bullet__closed: var(--bt-bullet__closed);
        --bb-bullet__closed: var(--bt-bullet__closed);
        --bl-bullet__closed: var(--bt-bullet__closed);
    }
}

/* TAGS ESPECIAIS */

/* Smartblocks */
[data-path-page-links*='SmartBlock'] {
    --max-smartblock-ff: var(--ff-code);
    --max-smartblock-fs: 16px;
    --ff-main: var(--max-smartblock-ff);
    --fs-main: var(--max-smartblock-fs);
}

/* BOTÕES, principalmente para usar com Smartblocks e query builder */

/*
.bp3-portal {
    --bc-button: var(--bc-input);
}
*/

/* Restaura outline/contorno no botão em foco
   útil para navegação por keyboard
*/
.bp3-portal :focus {
    outline: rgb(207, 206, 207) auto 2px;
    /*rgba(19,124,189,0.6) auto 2px; */
}

/* Fix dos linked references filter ficarem overlapping */

/* Lista */
div.bp3-transition-container.bp3-popover-enter-done
  >div.bp3-popover[style*='transform-origin']
  >div.bp3-popover-content
  >div[style*='max-width: 600px']
  >div[style*='display: flex']
  >div:nth-child(4)
  >div
  >div
  >button {
    height: auto;
}

/* Selecionados */
div.bp3-transition-container.bp3-popover-enter-done
  >div.bp3-popover[style*='transform-origin']
  >div.bp3-popover-content
  >div[style*='max-width: 600px']
  >div[style*='display: flex']
  >div.flex-h-box
  >div[style*='flex: 1']
  >div[style*='padding-top: 8px;']
  >button {
    height: auto;
}

body,
html {
    letter-spacing: 0em;
    font-size: 15.0943px; /* Era 14. Escolhi pq o --fs-main é 1.06rem, de forma que totaliza 16px*/
}

/* AUMENTA BULLETS E REALINHA EM DECORRÊNCIA */

/* Bullets em si - era 4px */
.rm-bullet__inner {
    height: calc(4px + var(--max-bullet-aumento));
    width: calc(4px + var(--max-bullet-aumento));
}

.controls,
.rm-block__controls {
    padding-top: calc(4px + var(--max-bullet-aumento));
}

/* Não sei o que faz
   Olhando no Dev Tools
   É lá na esquerda superior
   Perto do sidebar 
   Mudei para compensar aumento do bullet */
.controls .simple-bullet-outer .simple-bullet-inner,
.rm-block__controls .simple-bullet-outer .simple-bullet-inner {
    height: calc(4px + var(--max-bullet-aumento));
    width: calc(4px + var(--max-bullet-aumento));
}

/* Diminui distância do texto e do bullet */
.controls,
.rm-block__controls {
    flex: 0 0 40px /*48px*/
    ;
}

/* ESPAÇAMENTO DO ARTIGO */

/* Se não, embeds se extendiam à direita demais quando sidebar
   estava fechado */
.rm-embed-container {
    margin-right: 0px; /*-116px*/
}

/* Diminui padding na direita */
.roam-body .roam-app .roam-main .roam-article {
    padding-right: 30px; /*42 no Roam normal */
}

/* retira espaço não usado do block separator */
.rm-block-separator+div[style="min-width: 24px;"] {
    min-width: 0px;
}

/* BRACKETS DOS LINKS */

/* Brackets Únicos nos Links Bidirecionais */
.rm-page-ref__brackets {
    display: none;
}

.rm-page-ref--link:before {
    content: "[";
    color: var(--co-brackets);
    font-weight: 300;
}

.rm-page-ref--link:after {
    content: "]";
    color: var(--co-brackets);
    font-weight: 300;
}

/* Nos block mentions */
span.rm-page-ref__brackets {
    display: none;
}


/* HEADINGS */

/* H1 */
.rm-level1,
.rm-heading-level-1>.rm-block__self .rm-block__input,
.roam-body .roam-app .roam-main .roam-article .rm-heading-level-1.rm-block>div>div>textarea {
    line-height: var(--max-headings-h1-lh);
}

/* H2 */
.rm-level2,
.rm-heading-level-2>.rm-block__self .rm-block__input,
.roam-body .roam-app .roam-main .roam-article .rm-heading-level-2.rm-block>div>div>textarea {
    line-height: var(--max-headings-h2-lh);
}

/* H3 */
.rm-level3,
.rm-heading-level-3>.rm-block__self .rm-block__input,
.roam-body .roam-app .roam-main .roam-article .rm-heading-level-3.rm-block>div>div>textarea {
    line-height: var(--max-headings-h3-lh);
}

/* Quotes */
.rm-bq {
    margin: var(--max-ma-quote);
    padding: var(--max-pa-quote);
    border-left: var(--max-bl-quote);
}