/* Obtido de https://github.com/rcvd/RoamStudio/blob/master/src/RoamStudio/modules/advanced-heading-spacing.css */

.rm-block--closed.rm-level1,
.rm-block--closed.rm-heading-level-1>.rm-block__self .rm-block__input,
.rm-block--closed.rm-heading-level-1>.rm-block__self>.controls,
.rm-block--closed.rm-heading-level-1>.rm-block__self>.rm-block__controls,
.rm-block--closed.rm-level2,
.rm-block--closed.rm-heading-level-2>.rm-block__self .rm-block__input,
.rm-block--closed.rm-heading-level-2>.rm-block__self>.controls,
.rm-block--closed.rm-heading-level-2>.rm-block__self>.rm-block__controls,
.rm-block--closed.rm-level3,
.rm-block--closed.rm-heading-level-3>.rm-block__self .rm-block__input,
.rm-block--closed.rm-heading-level-3>.rm-block__self>.controls,
.rm-block--closed.rm-heading-level-3>.rm-block__self>.rm-block__controls {
    margin-top: 0;
    margin-bottom: 0;
}


/* MINHAS MODS */

/* Animações */
.rm-heading-level-1>.rm-block-main,
.rm-level1,
h1 {
    transition: all 0.075s ease-in-out;
}

.rm-heading-level-2>.rm-block-main,
.rm-level2,
h2 {
    transition: all 0.075s ease-in-out;
}

.rm-heading-level-3>.rm-block-main,
.rm-level3,
h3 {
    transition: all 0.075s ease-in-out;
}

/* Não estava aplicando, porque o tema do Craft
   tinha seletor mais específico */
.rm-block--closed.rm-heading-level-1>.rm-block-main,
.rm-block--closed.rm-level1,
h1.rm-block--closed,

.rm-block--closed.rm-heading-level-2>.rm-block-main,
.rm-block--closed.rm-level2,
h2.rm-block--closed,

.rm-block--closed.rm-heading-level-3>.rm-block-main,
.rm-block--closed.rm-level3,
h3.rm-block--closed {
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.075s ease-in-out;
}
