/* == Garamond == */

/* Regular */

@font-face {
    font-family: 'GaramondMax';
    src: url('https://maxlinworm.github.io/Fonts/Serifs/AGaramond/AGaramondPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondMax';
    src: url('https://maxlinworm.github.io/Fonts/Serifs/AGaramond/AGaramondPro-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

/* Bold */

@font-face {
    font-family: 'GaramondMax';
    src: url('https://maxlinworm.github.io/Fonts/Serifs/AGaramond/AGaramondPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondMax';
    src: url('https://maxlinworm.github.io/Fonts/Serifs/AGaramond/AGaramondPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}