/* == Epicene == */

/* Light */

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


/* Regular */

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Bold */

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'EpiceneMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/Epicene/EpiceneText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
