/* == iA Writer Quattro == */

/* Usar Text em vez de Regular no Light Mode*/

@media (prefers-color-scheme: light) {
  @font-face {
      font-family: 'QuattroMax';
      src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-Text.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: 'QuattroMax';
    src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-TextItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
}

/* Usa regular no Dark Mode */

@media (prefers-color-scheme: dark) {
  @font-face {
      font-family: 'QuattroMax';
      src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-Regular.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: 'QuattroMax';
    src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
}

/* Text */

@font-face {
  font-family: 'QuattroMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-Text.ttf') format('truetype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'QuattroMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-TextItalic.ttf') format('truetype');
  font-weight: 450;
  font-style: italic;
}

/* Semi-Bold */

@font-face {
  font-family: 'QuattroMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'QuattroMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */

@font-face {
  font-family: 'QuattroMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'QuattroMax';
  src: url('https://maxlinworm.github.io/Fonts/Serifs/iAWriterQuattro/iAWriterQuattro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
